@charset "utf-8";
/*case-list*/
/* dedecms.com 做最好的织梦模板 */
.case_pic { height:282px;}
.case_pic a { background:url(../images/s_big3.jpg) center top no-repeat; height:282px; display:block; }

.case { width:1002px; margin:0 auto; }
.cs_lt { float:left; width:690px;}
.cs_rt { width:232px; float:right; }
.tou { border:1px solid #e3e3e3; padding:24px 26px 15px 24px; margin-bottom:30px;}
.tou dt { float:left; border:1px solid #2cb445; width:74px; height:34px; line-height:34px; text-align:center; color:#2cb445; font-size:24px;}
.tou dd { float:right; width:544px; }
.tou dd h4 { height:36px; line-height:36px; overflow:hidden; font-weight:normal; margin-bottom:5px; }
.tou dd h4 a { color:#2cb445; font-size:20px;}
.tou dd p { color:#666; font-size:14px; line-height:28px; height:56px; overflow:hidden;}
.tou dd p a { color:#b40107;}

.cs_rt .deta_more{ position:relative;}
.cs_rt .hid_more{right:326px; left:auto; top:-278px;}

.sign { }
.case .sign h3 { height:45px; line-height:45px; overflow:hidden; border-bottom:1px solid #d4d4d4; font-weight:normal; margin-bottom:30px; background:none;color:#333; font-size:24px; text-align:left;}
.sign h3 a { color:#333; font-size:24px;}
.sign h3 em { color:#c2c2c2; font-size:18px; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; text-transform:uppercase; margin-left:5px; display:none;}
.sign_con { padding-bottom:30px;}
.sign_con dl { height:123px; overflow:hidden; margin-bottom:38px;}
.sign_con dt { float:left; width:218px;}
.sign_con dt a,.sign_con dt img { display:block; width:218px; height:123px;}
.sign_con dd { width:448px; float:right;}
.sign_con h4 { font-weight:normal; height:30px; line-height:30px; overflow:hidden; margin-bottom:8px;}
.sign_con h4 a { color:#333; font-size:20px;}
.sign_con p { color:#666; font-size:14px; line-height:28px; height:84px; overflow:hidden;}
.sign_con p a { color:#b40107;}

.page { text-align:center; margin-bottom:58px;}
.page a { display:inline-block; height:30px; line-height:30px; border:1px solid #e3e3e3; margin:0 5px; text-align:center; width:30px;}
.page a:hover { text-decoration:none; color:#2857ac; border:1px solid #2857ac;}
.page .pre,.page .nxt { width:76px;}


.rt_case { border:1px solid #e3e3e3; margin-bottom:15px; }
.rt_case h4 { height:45px; line-height:45px; border-bottom:1px solid #e3e3e3; font-weight:normal; padding-left:20px;}
.rt_case h4 a { color:#333; font-size:20px;}
.rt_case h4 em { margin-left:6px; color:#c2c2c2; font-size:16px; text-transform:uppercase; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;}
.cs_list { padding:0 19px;}
.cs_list li { height:39px; line-height:39px;}
.cs_list li a { display:block; height:39px; color:#666; font-size:16px; border-bottom:1px solid #eee; }
.cs_list li a:hover,.cs_list li.cur a { color:#2857ac; border-bottom:2px solid #2857ac; text-decoration:none; }
.cs_more { display:block; text-align:center; height:25px; line-height:25px; background:#eaeaea;}
.cs_more span { background:url(../images/cs_jt.gif) right center no-repeat; padding-right:10px;}

.rt_gz { border:1px solid #e3e3e3; margin-bottom:15px; }
.rt_gz h4 { height:41px; line-height:41px; border-bottom:1px solid #efefef; margin:0 20px; font-weight:normal; *margin:0; *padding:0 20px;}
.rt_gz h4 a { color:#333; font-size:20px;}
.gz_list { padding:15px 0 16px;}
.gz_list li { float:left; width:55px; margin:0 10px; display:inline;}
.gz_list li a { display:block; }
.gz_list li img { display:block; margin:0 auto; width:37px; height:37px;}
.gz_list li span { display:block; height:24px; line-height:24px; overflow:hidden; text-align:center; margin-top:4px; color:#666;}

.rt_xz { border:1px solid #e3e3e3; margin-bottom:15px; }
.rt_xz h4 { height:41px; line-height:41px; border-bottom:1px solid #efefef; margin:0 20px; font-weight:normal; *margin:0; *padding:0 20px;}
.rt_xz h4 a { color:#333; font-size:20px;}
.xz_list { padding:6px 0 15px 22px;}
.xz_list li { height:28px; line-height:28px; overflow:hidden; background:url(../images/c4.gif) left center no-repeat; padding-left:22px;}
.xz_list li a { color:#666; font-size:14px;}

.rt_ys { border:1px solid #e3e3e3; }
.rt_ys h4 { height:41px; line-height:41px; border-bottom:1px solid #efefef; margin:0 20px; font-weight:normal; *margin:0; *padding:0 20px;}
.rt_ys h4 a { color:#333; font-size:20px;}
.ys_list { padding:15px 0 13px 20px;}
.ys_list li { float:left; text-align:center; width:89px; height:59px; display:inline; margin:0 12px 11px 0; position:relative;}
.ys_list li a { display:block; color:#fff; padding-top:10px;}
.ys_list li b { display:block; font-size:18px; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;}
.ys_list .y1 { background:#b40107; }
.ys_list .y2 { background:#5a7ce3; }
.ys_list .y3 { background:#38bf4d; }
.ys_list .y4 { background:#2857ac; }
/*
.sq_form { background:#fff; border:3px solid #b40107; padding:10px 10px 25px 10px; width:464px; position:absolute; top:0; left:-558px; text-align:left;  }
.sq_form h4 { font-weight:normal; height:30px; line-height:30px; border-bottom:1px solid #ddd; margin-bottom:20px; margin-bottom:16px;}
.sq_form h4 .close { float:right; padding-top:0; }
.sq_form h4 .s_name { color:#333; font-size:20px; padding-top:0; }
.sq_form li { height:32px; margin-bottom:32px; margin-bottom:13px; overflow:hidden; zoom:1; float:none; display:block; width:auto;  }
.sq_form li span { float:left; width:110px; float:left; text-align:center; color:#666; font-size:14px;} 
.sq_form li .ipt { width:279px; height:28px; line-height:28px; padding-left:20px; border:1px solid #dbdbdb;}
.sq_form li textarea { width:279px; height:60px; line-height:30px; padding-left:20px; border:1px solid #dbdbdb; resize:none; overflow:hidden; }
.sq_form .li5 { height:64px;}
.sq_form .ip1 { background:url(../images/tj.gif) no-repeat; width:126px; height:37px; border:none; margin:0 20px 0 130px;}
.sq_form .ip2 { background:url(../images/cz.gif) no-repeat; width:126px; height:37px;  border:none;}
*/
/*case*/

.case_pic { height:282px;}
.case_pic a { background:url(../images/s_big2.jpg) center top no-repeat; height:282px; display:block; }

.case { width:1002px; margin:60px auto 55px; }
.case h3 { text-align:center; height:36px; line-height:36px; font-weight:normal; margin-bottom:26px; background:url(../images/c01.gif) left 18px no-repeat;}
.case h3 a { color:#333; font-size:30px;}
.cs_tp { margin-bottom:26px;}
.cs_tp li { width:86px; float:left; display:inline; margin:0 28px;}
.cs_tp li a { display:block; }
.cs_tp li img { display:block; width:58px; height:58px; margin:0 auto; }
.cs_tp li span { display:block; text-align:center; height:24px; line-height:24px; overflow:hidden; margin-top:6px; color:#333; font-size:20px;}

.cs_bt { border-top:1px solid #e2e2e2; border-bottom:1px solid #e2e2e2; padding:9px 0; margin-bottom:22px; }
.cs_bt li { float:left; height:32px; line-height:32px; overflow:hidden; padding-left:14px; background:url(../images/c9.gif) left center no-repeat; width:125px; font-size:16px; display:inline; margin-right:4px;} 
.m_cs { display:block; width:128px; height:34px; line-height:34px; text-align:center; border:1px solid #d4d4d4; color:#333; font-size:14px; margin:0 auto;}
.m_cs span { background:url(../images/c10.gif) right center no-repeat; padding-right:14px; font-size:14px;}

.b_bg { background:#b40107; padding:48px 0 68px; margin-bottom:60px; }
.last_case { width:1002px; margin:0 auto; }
.last_case h3 { text-align:center; height:36px; line-height:36px; font-weight:normal; margin-bottom:34px; background:url(../images/c2.gif) left 18px no-repeat;color:#fff; font-size:30px;}
.last_case h3 a { color:#fff; font-size:30px;}
.last_con { height:366px; position:relative; }
.c_lt { background:url(../images/c_lt.gif) no-repeat; width:63px; height:63px; position:absolute; top:152px; left:-57px;}
.c_rt { background:url(../images/c_rt.gif) no-repeat; width:63px; height:63px; position:absolute; top:152px; right:-57px;}
.cs_wrp { width:970px; margin:0 auto; }
.cs_wrp li { float:left; height:366px; width:297px; background:#fff; display:inline; margin:0 12px; }
.img,.img img { display:block; width:297px; height:168px; }
.cs_wrp h4 { font-weight:normal; height:30px; line-height:30px; overflow:hidden; margin:12px 20px 8px;}
.cs_wrp h4 a { color:#333; font-size:16px;}
.cs_wrp h4 span { float:right; color:#333; font-size:14px;}
.cs_wrp p { margin:0 20px; color:#666; font-size:14px; line-height:26px; height:78px; overflow:hidden; margin-bottom:12px;}
.cs_wrp .xq { margin:0 20px; display:block; width:94px; height:25px; line-height:25px; text-align:center; color:#2cb445; font-size:14px; border:2px solid #2cb445;}

.cs_num { width:1002px; margin:0 auto 60px; }
.cs_num li {  text-align:center; float:left; display:inline; width:170px; margin:0 14px;}
.cs_num li img { display:block; margin:0 auto; width:102px; height:102px;}
.cs_num li span { display:block; color:#333; font-size:20px; margin:18px 0 6px;}
.cs_num li em { display:block; color:#666; font-family:14px;}

/*Contact.css*/
.contact_pic { height:282px;}
.contact_pic a { background:url(../images/s_big2.jpg) center top no-repeat; height:282px; display:block; }

.c_bg { background:url(../images/c_bg.jpg) center top no-repeat; height:387px; padding-top:50px; margin-bottom:48px;}
.map  { width:1002px; margin:0 auto; }
.map dt { width:452px; float:left; background:url(../images/map.jpg) no-repeat; width:368px; height:277px; padding:28px 50px 31px 34px;}
.map dt img { display:block; width:452px; height:336px;}
.map dd { width:458px; float:right; }
.map dd h4 { color:#fff; font-size:26px; font-weight:normal; margin:12px 0; }
.map dd h4 a{color:#fff; border-bottom: 2px solid #FFF;}
.map dd h4 a:hover{ text-decoration:none;}
.map dd ul { color:#fff; font-size:14px; line-height:26px; margin-bottom:24px;}
.map dd li { overflow:hidden; zoom:1; }
.map dd span { float:left; width:78px;}
.map dd em { float:left; width:380px;}
.map dd li a { color:#fff; }
.map dd .dh { display:block; width:324px; height:63px;}

.contact  { width:1002px; margin:0 auto 20px;  }
.contact dl { height:188px; margin-bottom:40px;}
.contact .fl { width:436px;}
.contact .fr { width:392px;}
.contact dt { width:122px; padding-left:20px; height:35px; line-height:35px; color:#fff; font-size:20px; margin-bottom:14px; }
.contact dt a{ color:#FFF;}
.contact dd { color:#666; font-size:14px; line-height:26px;}
.contact .c1 dt { background:url(../images/c001.gif) no-repeat; }
.contact .c2 dt { background:url(../images/c02.gif) no-repeat; }
.contact .c3 dt { background:url(../images/c3.gif) no-repeat; }
.contact .c4 dt { background:url(../images/c4.gif) no-repeat; }


/*Cooper.css*/
.coop_pic { height:282px;}
.coop_pic a { background:url(../images/s_big2.jpg) center top no-repeat; height:282px; display:block; }

.cp_bg { background:url(../images/c1.gif) left top repeat-x; }
.coop { width:1002px; margin:0 auto 60px; }
.cp_tit { height:98px; width:554px; margin:0 auto 60px; } 
.cp_tit li { float:left; margin:0 70px; display:inline; width:130px; }
.cp_tit li a { height:63px; padding-top:35px; color:#fff; display:block; font-size:20px;}
.cp_tit li img { vertical-align:middle; margin-right:5px;}
.cp_tit li a:hover { text-decoration:none;}
.cp_tit .cp_cur a { background:url(../images/c4.gif) center bottom no-repeat; }

.hb { }
.lm { height:413px; background:#eee; margin-bottom:60px;}
.lm_lt { width:660px; float:left; padding:30px 0 0 42px;}
.lm_lt h4 { font-weight:normal; color:#333; font-size:30px; margin-bottom:7px;}
.lm_lt p { color:#666; line-height:26px; font-size:14px; margin-bottom:26px;}
.lm_lt h5 { color:#333; font-size:20px; font-weight:normal;}
.lm_rt { width:252px; float:right;}
.lm_rt img { display:block; width:252px; height:413px;}

.hb_lc {}
.hb_lc h4 { height:40px; line-height:40px; margin-bottom:14px; background:url(../images/c6.gif) center 21px no-repeat; font-weight:normal; color:#333; font-size:30px; text-align:center;}
.hb_lc .txt { color:#666; font-size:14px; line-height:26px; height:52px; overflow:hidden; margin-bottom:52px; }
.lc_list {}
.lc_list li { float:left; width:323px; padding:66px 0 0 175px; display:inline; margin-right:6px;  margin-bottom:52px;}
.lc_list li b { display:block; font-weight:normal; color:#333; font-size:20px; margin-bottom:8px;}
.lc_list  li span { display:block; color:#666; font-size:14px; line-height:26px; height:52px; overflow:hidden;}
.lc_list .l1 { background:url(../images/c7.jpg) left top no-repeat; }
.lc_list .l2 { background:url(../images/c8.jpg) left top no-repeat; margin-right:0; }
.lc_list .l3 { background:url(../images/c9.jpg) left top no-repeat; }
.lc_list .l4 { background:url(../images/c10.jpg) left top no-repeat;  margin-right:0; }

.bor { border:1px solid #e3e3e3; padding:17px 36px 80px 34px; color:#666; line-height:26px; font-size:14px;}
.bor a { color:#b40107;}

.hb .hsq { display:block; width:324px; height:62px; margin:-31px auto 0;} 

.zc { margin-bottom:80px; }
.zc h4 {height:40px; line-height:40px; margin-bottom:14px; background:url(../images/c6.gif) center 21px no-repeat; font-weight:normal; color:#333; font-size:30px; text-align:center; }
.zc .p1 { color:#666; line-height:26px; font-size:14px; margin-bottom:58px;}
.zc .p1 span { color:#333; font-size:20px;}
.zc .p2 { background:url(../images/c11.jpg) left top no-repeat; font-size:14px; padding-top:4px; height:525px;}
.zc .p2 span { display:block; width:562px; line-height:26px; margin-bottom:26px;}
.zc .p2 em { color:#333; }
.zc .p2 .sp1 { margin-left:258px;}
.zc .p2 .sp2 { margin-left:354px;}
.zc .p2 .sp3 { margin-left:388px;}
.zc .p2 .sp4 { margin-left:401px; margin-bottom:44px;}
.zc .p2 .sp5 { margin-left:386px; margin-bottom:40px;}
.zc .p2 .sp6 { margin-left:339px;}
.zc .p2 .sp7 { margin-left:258px;}

.dli_lc { height:380px; margin-bottom:32px;}
.dli_lc h4 {height:40px; line-height:40px; margin-bottom:20px; background:url(../images/c6.gif) center 21px no-repeat; font-weight:normal; color:#333; font-size:30px; text-align:center; }
.dli_list {}
.dli_list li { float:left; }
.dli_list img { display:block; margin:0 auto; width:80px; height:80px;}
.dli_list span { height:24px; line-height:24px; overflow:hidden; color:#333; font-size:20px; margin:18px 0 12px; text-align:center; display:block;}
.dli_list em { display:block; font-size:14px; line-height:26px; color:#666;}
.dli_list .d1 { width:184px;}
.dli_list .d2 { width:240px; display:inline; margin:0 103px;}
.dli_list .d3 { width:372px;}

.dli .hsq { display:block; margin:0 auto; width:324px; height:62px;}

.hz { width:1002px; margin:0 auto 40px; padding-top:50px;}
.hz h4 { text-align:center; background:url(../images/s_line3.gif) center 22px no-repeat; height:40px; line-height:40px; text-align:center; margin-bottom:24px; font-weight:normal; color:#333; font-size:30px;}
.hz_list { margin-right:-24px;}
.hz_list li { float:left; width:181px; float:left; margin:0 24px 18px 0; }
.hz_list li img { display:block; width:179px; height:90px; border:1px solid #e3e3e3; }


.cp_con { position:relative; }


/*Detail.css*/

.det_pic { height:282px;}
.det_pic a { background:url(../images/s_big3.jpg) center top no-repeat; height:282px; display:block; }

.detail { width:1002px; margin:0 auto; padding-top:57px; margin-bottom:50px;}
.deta_lt { width:232px; float:left; }
.deta_rt { width:709px; float:right; }
.deta_lt div { margin-bottom:20px; }
.deta_lt h3 { height:59px; line-height:59px; padding-left:22px; font-weight:normal; font-size:20px; _height:40px; _line-height:40px; _padding-top:19px;color:#fff; }
.deta_lt h3 a { color:#fff; display:inline-block;}
.deta_lt h3 img { vertical-align:middle; margin-right:6px;}
.deta_lt ul { padding:0 20px 0; border:1px solid #e3e3e3; border-top:none;}
.deta_lt li { height:40px; line-height:40px; text-overflow:ellipsis; overflow:hidden;}
.deta_lt li a { display:block; background:url(../images/d4.gif) right center no-repeat; height:38px; color:#666; font-size:14px; border-bottom:1px solid #eee; }
.deta_lt li a:hover,.deta_lt li.cur a { text-decoration:none; background:url(../images/d3.gif) right center no-repeat; color:#38bf4d; border-bottom:2px solid #38bf4d;}
.deta_more {  height:25px; line-height:25px; display:block; background:#eaeaea; text-align:center; margin-top:-3px; }
.deta_more .d_more { background:url(../images/d6.gif) right center no-repeat; padding-right:10px;}
/*弹出框*/
.hid_more { border:3px solid #b40107; padding:0 11px 20px 11px; width:550px; background:#fff; position:absolute; left:246px; top:0; display:none;}
.hid_more h4 { font-weight:normal; border-bottom:1px solid #ebebeb; height:46px; line-height:46px; padding-left:35px; text-align:left;color:#333; font-size:20px;}
.hid_more h4 .a_more { float:right; margin-top:12px; }
.more_list { padding:12px 0 0 27px; }
.more_list a { text-align:left; float:left; width:154px; float:left; color:#666; font-size:14px; overflow:hidden; height:32px; line-height:32px; background:url(../images/d.gif) left center no-repeat; padding-left:12px;}
.more_list a.cur{ color:#38bf4d; font-weight:bold;}
.deta_lt .tx,.deta_lt .hy,.deta_lt .zt { position:relative; }
.tx h3 { background:#38bf4d; }
.hy h3 { background:#b40107; }
.zt h3 { background:#b40107; }
.hy li a, .zt li a { font-size:14px;} 
.hy li a:hover, .zt li a:hover { border-bottom:2px solid #38BF4D; }
.deta_txt h4 { height:30px; line-height:32px; font-weight:normal; text-align:center; padding-bottom:12px; border-bottom:1px solid #e3e3e3; font-size:24px; color:#333; margin-bottom:50px;}
.deta_txt p { color:#666; line-height:32px; font-size:14px;}
.deta_txt p em { color:#333; font-size:20px;}
.deta_txt p font { display:block; color:#333;}
.img1 { display:block; margin:52px 0 40px;}
.deta_txt h5 { font-weight:normal; text-align:center; margin:50px 0 32px; color:#333; font-size:24px;}
.deta_txt ul { margin-bottom:52px;}
.deta_txt li { width:340px; float:left; display:inline; margin:0 20px 0 0;}
.deta_txt .no_mar { margin-right:0; }
.deta_txt li img { display:block; width:340px; height:173px;}
.deta_txt li span { display:block; text-align:center; height:24px; margin-top:6px; color:#666; font-size:14px; line-height:24px;}


.deta_xq { border:1px solid #e5e5e5; padding-bottom:15px;}
.deta_xq h4 { font-weight:normal; text-align:center; height:49px; line-height:49px; background:#b40107; margin-bottom:20px;color:#fff; font-size:24px;}
.deta_xq h4 a { }
.deta_xq ul { padding-left:20px;}
.deta_xq li { width:207px; height:42px; float:left; text-align:center; line-height:42px; border:1px solid #e5e5e5; display:inline; margin:0 20px 13px 0;}
.deta_xq li a { background:url(../images/d11.gif) right center no-repeat; padding-right:20px; color:#666; font-size:16px;}

/*Focus-detail.css*/

.focus_pic { height:282px;}
.focus_pic a { background:url(../images/s_big3.jpg) center top no-repeat; height:282px; display:block; }

.fc_detail { padding-top:60px; width:1002px; margin:0 auto;  }
.fc_detail h3 { text-align:center; height:28px; line-height:28px; overflow:hidden; font-weight:normal; margin-bottom:28px;}
.fc_detail h4 { font-weight:normal; color:#999; font-size:14px; margin-bottom:22px; border-bottom:1px dashed #999; height:35px; line-height:35px; overflow:hidden;  }
.return { float:right; margin-top:3px; }
.fc_detail h4 em { display:inline-block; padding:0 16px 0 3px; }
.txt { color:#666; font-size:14px; }
.txt p {line-height:36px; margin-bottom:28px; text-indent:26px; }

.fc_img { width:760px; height:190px; margin:0 auto; display:block; padding-top:20px; margin-bottom:40px;}
.fc_detail h5 { font-weight:normal; color:#898989; font-size:14px; line-height:36px;}
.fc_detail h5 a { color:#898989; }
.fc_detail h5 em { display:inline-block; padding:0 6px; }

.olist  { margin:28px 0 30px}
.olist li { float:left; width:500px; height:32px; line-height:32px; }
.olist li a { color:#666; font-size:14px;}
.olist li .pre { width:80px; height:32px; text-align:center; color:#fff; margin-right:15px; background:#5a7ce3; display:inline-block;  }
.olist li .nxt { width:80px; height:32px; text-align:center; color:#fff; margin-right:15px; background:#2857ac; display:inline-block;   }

.hot { width:930px; margin:0 auto 40px; border:1px solid #ddd; padding:27px 42px 27px 30px;}
.hot h3 { height:36px; line-height:36px; background:url(../images/hot_line.gif) 226px 20px no-repeat; font-weight:normal; margin-bottom:14px;}
.hot h3 a { color:#333; font-size:24px;}
.hot h3 em { color:#c2c2c2; font-size:18px; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; margin-left:6px;}
.hot_list li { height:30px; line-height:30px; overflow:hidden; color:#666; font-size:14px; }
.hot_list li span { float:right; }
.hot_list li a { color:#666; }

.cs_num { width:1002px; margin:0 auto 60px; }
.cs_num li {  text-align:center; float:left; display:inline; width:170px; margin:0 14px;}
.cs_num li img { display:block; margin:0 auto; width:102px; height:102px;}
.cs_num li span { display:block; color:#333; font-size:20px; margin:18px 0 6px;}
.cs_num li em { display:block; color:#666; font-family:14px;}

/*Focus-list.css*/

.focus_pic { height:282px;}
.focus_pic a { background:url(../images/s_big3.jpg) center top no-repeat; height:282px; display:block; }

.focus_list { width:1002px; margin:0 auto; padding-top:35px;}
.fc_lt { float:right; width:704px; margin-right:15px;}
.fc_rt { width:232px; float:left; }

.dt { }
.dt h3 { height:45px; line-height:45px; overflow:hidden; border-bottom:1px solid #d4d4d4; font-weight:normal; margin-bottom:36px;}
.dt h3 a { color:#333; font-size:24px;}
.dt h3 em { color:#c2c2c2; font-size:18px; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; text-transform:uppercase; margin-left:5px; display:none;}
.dt_con dl { height:92px; overflow:hidden; margin-bottom:60px;}
.dt_con dt { float:left; width:91px; height:92px; background:#b40107; text-align:center; color:#fff; font-size:16px; font-family:Arial, Helvetica, sans-serif;}
.dt_con dt b { display:block; font-size:40px; padding-top:15px; height:40px;}
.dt_con dd { width:588px; float:right;}
.dt_con h4 { font-weight:normal; height:30px; line-height:30px; overflow:hidden; margin-bottom:8px;}
.dt_con h4 a { color:#333; font-size:20px;}
.dt_con p { color:#666; font-size:14px; line-height:28px; height:84px; overflow:hidden;}
.dt_con p a { color:#b40107;}

.page { text-align:center; margin-bottom:58px;}
.page a { display:inline-block; height:30px; line-height:30px; border:1px solid #e3e3e3; margin:0 5px; text-align:center; width:30px;}
.page a:hover { text-decoration:none; color:#2857ac; border:1px solid #2857ac;}
.page .pre,.page .nxt { width:76px;}


.rt_fc { border:1px solid #e3e3e3; margin-bottom:15px; }
.rt_fc h4 { height:45px; line-height:45px; border-bottom:1px solid #e3e3e3; font-weight:normal; padding-left:20px;}
.rt_fc h4 a { color:#333; font-size:20px;}
.rt_fc h4 em { margin-left:6px; color:#c2c2c2; font-size:16px; text-transform:uppercase; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; display:none;}
.fc_list { padding:0 19px 9px 19px;}
.fc_list li { height:39px; line-height:39px;}
.fc_list li a { display:block; height:39px; color:#666; font-size:16px; border-bottom:1px solid #eee; }
.fc_list li a:hover,.fc_list li.cur a { color:#2857ac; border-bottom:2px solid #2857ac; text-decoration:none; }

.rt_gz { border:1px solid #e3e3e3; margin-bottom:15px; }
.rt_gz h4 { height:41px; line-height:41px; border-bottom:1px solid #efefef; margin:0 20px; font-weight:normal; *margin:0; *padding:0 20px;}
.rt_gz h4 a { color:#333; font-size:20px;}
.gz_list { padding:15px 0 16px;}
.gz_list li { float:left; width:55px; margin:0 10px; display:inline;}
.gz_list li a { display:block; }
.gz_list li img { display:block; margin:0 auto; width:37px; height:37px;}
.gz_list li span { display:block; height:24px; line-height:24px; overflow:hidden; text-align:center; margin-top:4px; color:#666;}

.rt_xz { border:1px solid #e3e3e3; margin-bottom:15px; }
.rt_xz h4 { height:41px; line-height:41px; border-bottom:1px solid #efefef; margin:0 20px; font-weight:normal;  *margin:0; *padding:0 20px;}
.rt_xz h4 a { color:#333; font-size:20px;}
.xz_listl { padding:6px 0 15px 22px;}
.xz_listl li { height:28px; line-height:28px; overflow:hidden; background:url(../images/c04.gif) left center no-repeat; padding-left:22px;}
.xz_listl li a { color:#666; font-size:14px;}

.rt_ys { border:1px solid #e3e3e3; }
.rt_ys h4 { height:41px; line-height:41px; border-bottom:1px solid #efefef; margin:0 20px; font-weight:normal;  *margin:0; *padding:0 20px;}
.rt_ys h4 a { color:#333; font-size:20px;}
.ys_list { padding:15px 0 13px 20px;}
.ys_list li { float:left; text-align:center; width:89px; height:59px; display:inline; margin:0 12px 11px 0;}
.ys_list li a { display:block; color:#fff; padding-top:10px;}
.ys_list li b { display:block; font-size:18px; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;}
.ys_list .y1 { background:#b40107; }
.ys_list .y2 { background:#5a7ce3; }
.ys_list .y3 { background:#38bf4d; }
.ys_list .y4 { background:#2857ac; }

/*Focus.css*/

.focus_pic { height:282px;}
.focus_pic a { background:url(../images/s_big3.jpg) center top no-repeat; height:282px; display:block; }

.top_new { width:1002px; margin:74px auto 0; height:343px; position:relative;  }
.top_new .top_news_more{float: right;display: inline-block;padding: 10px;font-size: 24px;color:#b40107; position:absolute;right:10px;}
.f_lt { background:url(../images/f_lt.gif) no-repeat; width:20px; height:36px; position:absolute; left:0; top:184px;}
.r_rt { background:url(../images/f_rt.gif) no-repeat; width:20px; height:36px; position:absolute; right:0; top:184px;}
.top_wrp { width:874px; overflow:hidden; margin:0 auto;}
.top_wrp dl { float:left; width:874px;}
.top_wrp dt { background:url(../images/pic_bg.jpg) no-repeat; width:369px; height:226px; float:left; padding:117px 0 0 0; }
.top_wrp dt a,.top_wrp dt img { display:block; width:303px; height:171px; margin:0 auto; }
.top_wrp dd { float:right; width:450px; margin-top:125px;}
.top_wrp dd h4 { height:28px; line-height:28px; margin-bottom:16px; font-weight:normal; font-size:20px; overflow:hidden;}
.top_wrp dd h4 a{color:#333; }
.top_wrp dd p { color:#666; font-size:14px; line-height:28px; height:112px; overflow:hidden;}
.top_wrp dd p a { color:#b40107; }

.blue_bg { background:#b40107; padding:62px 0 56px; margin-bottom:55px;}
.md_new { width:1002px; margin:0 auto; }
.m_part { width:466px; height:455px; border:1px solid #aacef1;}
.m_part h3 { margin:14px 27px 0; font-weight:normal; height:50px; line-height:50px; border-bottom:1px solid #aacef1; margin-bottom:31px;}
.m_part .n_more { float:right; font-size:14px; color:#fff;}
.m_part .n_name { color:#fff; font-size:24px;}
.m_part em { color:#fff; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; margin-left:6px; font-size:18px;}
.m_con { padding:0 27px;}
.m_con dl { overflow:hidden; zoom:1; height:92px; margin-bottom:28px;}
.m_con dt { float:left; width:91px; height:92px; background:#fff; text-align:center; color:#b40107; font-size:16px; font-family:Arial, Helvetica, sans-serif;}
.m_con dt b { display:block; font-size:40px; padding-top:15px; height:40px;}
.m_con dd { float:right; width:303px;}
.m_con dd h4 { height:36px; line-height:36px; margin-bottom:4px; font-weight:normal; font-size:16px; overflow:hidden;}
.m_con dd h4 a{color:#fff; }
.m_con dd p { color:#fff; font-size:14px; line-height:24px; height:48px; overflow:hidden;}
.m_con dd p a { color:#fff; }



.bt_new { width:1002px; margin:0 auto 64px; }
.b_part { width:466px; }
.b_part h3 { font-weight:normal; height:44px; line-height:44px; border-bottom:1px solid #d4d4d4; margin-bottom:22px;}
.b_part .n_more { float:right; font-size:14px; color:#666;}
.b_part .n_name { color:#333; font-size:24px;}
.b_part em { color:#c2c2c2; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; margin-left:6px; font-size:18px;}
.a_img { display:block; margin-bottom:22px;}
.a_img img { display:block; width:467px; height:263px; }
.b_con dl {  margin: 14px 0;  padding: 10px;  border: 1px solid #CCC;}
.b_con dt { height:32px; line-height:32px; overflow:hidden; margin-bottom:6px;}
.b_con dt a { color:#333; font-size:16px;}
.b_con dt span { float:right; color:#333; font-size:16px;}
.b_con dd p { color:#666; font-size:14px; line-height:26px; height:52px; overflow:hidden; margin-bottom:8px;}
.b_con dd .n_more1 { color:#2cb445; display:block; width:94px; height:25px; line-height:25px; text-align:center; border:2px solid #2cb445; font-size:14px; }
.b_con li { color:#666; font-size:14px; height:30px; line-height:30px; overflow:hidden; background:url(../images/f4.gif) left center no-repeat; padding-left:19px;}
.b_con li a { color:#666;}
.b_con li span { float:right;}

/*service.css*/

.ser_pic { height:282px;}
.ser_pic a { background:url(../images/s_big2.jpg) center top no-repeat; height:282px; display:block; }

.service { width:1002px; margin:0 auto; padding-top:48px;}
.sev_lt { float:left; width:140px; position:relative;}
.sev_rt { float:right; width:815px;}

.sev_lt .lt_list{ position:absolute; top:0px; left:0px; width:140px;}
.lt_list li { height:92px; border-bottom:5px solid #fff; text-align:center;}
.lt_list li a { display:block; padding-top:15px; background:url(../images/s2.gif) no-repeat; height:77px;  font-size:18px; color:#333; padding-right:14px;}
.lt_list li a:hover { text-decoration:none; }
.lt_list li span { display:block; padding-top:37px; }
.lt_list .lt_cur a { background:url(../images/s001.gif) no-repeat; color:#fff; } 
.lt_list .l1 { background:url(../images/s1.png) center top no-repeat; }
.lt_list .l2 { background:url(../images/s2.png) center top no-repeat; }
.lt_list .l3 { background:url(../images/s3.png) center top no-repeat; }
.lt_list .l4 { background:url(../images/s4.png) center top no-repeat; }
.lt_list .l5 { background:url(../images/s5.png) center top no-repeat; }
.lt_list .lt_cur .l1 { background:url(../images/s1_1.png) center top no-repeat;  }
.lt_list .lt_cur .l2 { background:url(../images/s2_1.png) center top no-repeat;  }
.lt_list .lt_cur .l3 { background:url(../images/s3_1.png) center top no-repeat;  }
.lt_list .lt_cur .l4 { background:url(../images/s4_1.png) center top no-repeat;  }
.lt_list .lt_cur .l5 { background:url(../images/s5_1.png) center top no-repeat;  }

.hot_s { padding-bottom:36px; border-bottom:1px solid #ddd; margin-bottom:33px;}
.rt_tit { font-weight:normal; height:28px; line-height:28px; padding-bottom:16px; border-bottom:1px solid #ddd; margin-bottom:32px;}
.rt_tit a { color:#333; font-size:24px;}
.rt_tit em { display:inline-block; color:#c2c2c2; font-family:Arial; font-size:18px; text-transform:uppercase; margin-left:6px; display:none;}

.hd { padding-bottom:38px; border-bottom:1px solid #ddd; margin-bottom:32px;}
.h_tit { height:32px; line-height:32px; margin-bottom:25px; font-weight:normal;}
.h_tit .h_name { color:#333; font-size:24px;}
.h_tit em { display:inline-block; color:#c2c2c2; font-family:Arial; font-size:18px; text-transform:uppercase; margin-left:6px;}
.h_tit .h_more { float:right; color:#666; font-size:14px; width:auto;}
.hd_list li { width:239px; margin-right:32px; display:inline; float:left;}
.hd_list .no_mar { margin-right:0; }
.hd_list .h_img { display:block; margin-bottom:13px; }
.h_img img { display:block; width:250px; height:140px;}
.hd_list h4 { font-weight:normal; height:24px; line-height:24px;font-size:14px; margin-bottom:8px; overflow:hidden;}
.hd_list h4 a {  color:#333; }
.hd_list p { color:#666; line-height:26px; height:78px; overflow:hidden; font-size:14px; margin-bottom:10px;}
.h_xq { display:block; width:94px; height:25px; border:2px solid #2cb445; color:#2cb445; font-size:14px; text-align:center; line-height:25px;}

.sev_part .xz_list{ padding:0px;}
.sev_part .xz_list li{ padding:0px;}
.xz { margin-bottom:60px; }
.xz .h_tit { margin-bottom:18px;}

.xz_list li { float:left; width:177px; height:64px; line-height:64px; text-align:center; display:inline; margin-right:35px;}
.xz_list li a { display:inline-block; color:#fff; font-size:16px; background:url(../images/xa.png) right center no-repeat; padding-right:36px; height:64px;}
.xz_list .x1 { background:#5a7ce3; }
.xz_list .x2 { background:#b40107; }
.xz_list .x3 { background:#a4da54; }
.xz_list .x4 { background:#38bf4d; margin-right:0; }

/*远程服务*/
.remo {padding-bottom:36px; border-bottom:1px solid #ddd; margin-bottom:33px;}
/*培训服务*/
.comm {}
.comm .rt_tit { margin-bottom:24px; }
.comm_top { padding-bottom:34px; border-bottom:1px solid #ddd; margin-bottom:40px;}
.comm_top li { float:left; }
.comm_top img { display:block; margin:0 auto; width:152px; height:166px;}
.comm_top span { display:block; text-align:center; color:#333; font-size:20px; height:32px; line-height:32px; overflow:hidden; margin:10px 0;}
.comm_top em { display:block; font-size:16px; color:#666; line-height:28px;}
.comm_top .c1 { width:162px;}
.comm_top .c2 { width:244px; margin:0 112px;}
.comm_top .c3 { width:176px;}

.comm_dl { height:156px; margin-bottom:32px; }
.comm_dl dt { float:left; width:276px;}
.comm_dl dt img { display:block; width:276px; height:155px;}
.comm_dl dd { width:512px; float:right; }
.comm_dl dd span { display:block; color:#333; font-size:16px; height:30px; line-height:30px;}
.comm_dl dd em { display:block; color:#666; font-size:14px; line-height:26px;}
.com_table { border:1px solid #ddd; margin-bottom:26px; padding-bottom:10px; }
.com_table th { border-bottom:1px solid #ddd; height:45px; line-height:45px; color:#333; font-size:16px; padding-left:22px; font-weight:normal;}
.com_table td { height:36px; line-height:36px; color:#666; font-size:14px; padding-left:22px;}
.com_table td span { background:#b40107; color:#fff; padding:2px 6px; }

.train { padding-bottom:28px; margin-bottom:36px; border-bottom:1px solid #ddd; }
.addr { margin:12px 0; color:#666; line-height:26px; font-size:14px;}

.ap_list { } 
.ap_list li { height:32px; line-height:32px; padding-left:18px; overflow:hidden; background:url(../images/r6.jpg) left center no-repeat; width:320px; float:left; }
.ap_list li a { color:#333; font-size:16px; }


/*二次开发*/
.er {padding-bottom:36px; border-bottom:1px solid #ddd; margin-bottom:33px;}

/*应用巡检*/
.app { padding-bottom:40px; }
.app b { display:block; font-weight:normal; color:#333; font-size:20px; margin-bottom:19px;}
.jsh { border-bottom:1px solid #ddd; padding-bottom:10px; margin-bottom:30px;}
.jsh span { display:block; color:#666; font-size:14px; line-height:28px; margin-bottom:20px;}

.sm {border-bottom:1px solid #ddd; padding-bottom:25px; margin-bottom:30px; }
.other li { color:#666; line-height:24px; margin-bottom:10px; overflow:hidden; zoom:1; font-size:14px;}
.other li em { float:left; width:24px; margin-top:2px;}
.other li font { float:right; width:782px;}

/*solutions.css*/

.solu_pic { height:282px;}
.solu_pic a { background:url(../images/s_big2.jpg) center top no-repeat; height:282px; display:block; }

.solu_txt { width:1002px; margin:0 auto 58px; padding-top:56px; }
.solu_txt h4 { margin-bottom:20px; text-align:center; font-weight:normal; background:url(../images/s1_line.gif) center 26px no-repeat; height:40px; line-height:40px; color:#333; font-size:20px;}
.solu_txt h4 em { color:#2cb445; font-size:30px; }
.solu_txt p { color:#666; line-height:32px; line-height:32px; text-indent:30px; font-size:14px;}

.solu_bg { background:url(../images/s_bg.gif) left 78px repeat-x; height:523px; margin-bottom:60px; }
.sl_tab { width:1002px; margin:0 auto; }
.sl_tit { height:78px; width:801px; margin:0 auto; }
.sl_tit li { float:left; text-align:center; background:url(../images/st2.gif) no-repeat; width:233px; height:78px; line-height:78px; display:inline; margin:0 17px;}
.sl_tit li a { display:inline-block; color:#666; font-size:24px; padding-left:52px;}
.sl_tit li a:hover { text-decoration:none;}
.sl_tit .sl_cur { background:url(../images/st1.gif) no-repeat;} 
.sl_tit .sl_cur a { color:#fff; }
.sl_tit .s1 { background:url(../images/s1.png) left center no-repeat; }
.sl_tit .s2 { background:url(../images/s2.png) left center no-repeat; }
.sl_tit .s3 { background:url(../images/s3.png) left center no-repeat; }
.sl_tit .sl_cur .s1 { background:url(../images/s1_1.png) left center no-repeat; }
.sl_tit .sl_cur .s2 { background:url(../images/s2_1.png) left center no-repeat; }
.sl_tit .sl_cur .s3 { background:url(../images/s3_1.png) left center no-repeat; }
.sl_part { padding-top:40px;}
.sl_part h5 { height:61px; background:url(../images/s_line2.gif) center 22px no-repeat; color:#fff; font-size:30px; font-weight:normal; text-align:center; margin-bottom:23px;}
.sl_part h5 span { display:block; font-size:14px; }
/*产品体系*/
.cp_list {}
.cp_list li { float:left; width:242px; margin-right:11px;}
.cp_list li a:hover .xhovercur{ display:block;}
.cp_list li a:hover .xhover{display:none}
.cp_list .cp_last { margin-right:0; }
.cp_list li img.xhovercur{ display:none;}
.cp_list li img { display:block; margin:0 auto; width:167px; height:178px;}
.cp_list li span { display:block;  text-align:center; color:#fff; font-size:20px; margin-top:22px;}
.cp_list li font { display:block; font-size:14px; }
/*行业方案*/
.hy { }
.hy_pic { margin-bottom:32px; margin-right:-20px;}
.hy_pic li { float:left; background:url(../images/hy_pic.gif) no-repeat; width:72px; height:72px; text-align:center; display:inline; margin:0 20px 20px 0;}
.hy_pic li a { display:block; padding-top:16px; color:#333; font-size:14px; line-height:20px; width:72px;margin:0 auto;}
.hy_pic li a:hover{ color:#2cb445;border:none;}
.h_more { display:block; width:245px; height:54px; margin:0 auto; }

/*专题方案*/
.zt { padding-top:50px; }
.zt_lt { width:437px; float:left; padding:19px 0 0 12px; }
.zt_lt li { margin-bottom:23px; padding-left:108px; height:83px;  color:#fff; }
.zt_lt .z1 { background:url(../images/z1.gif) left top no-repeat; }
.zt_lt .z2 { background:url(../images/z2.gif) left top no-repeat; }
.zt_lt .z3 { background:url(../images/z3.gif) left top no-repeat; }
.zt_lt span { display:block; font-size:24px; padding-top:18px; margin-bottom:4px;}
.zt_lt em { display:block; font-size:16px; display:block; }
.zt_rt { float:right; background:url(../images/z7.jpg) no-repeat; width:438px; height:241px; padding:62px 34px 38px 75px;}
.zt_rt h6 { font-weight:normal; height:30px; line-height:30px; padding-right:27px; margin-bottom:13px;}
.zt_rt .z_name { float:left; padding-left:5px; background:url(../images/z4.gif) right center no-repeat; padding-right:26px; color:#2cb445; font-size:20px;}
.zt_rt .z_more { float:right; color:#333; font-size:14px; padding-right:14px; background:url(../images/z6.gif) right center no-repeat; }
.zt_list { height:180px; overflow:hidden;}
.zt_list li { float:left; height:30px; line-height:30px; width:200px; margin-right:5px; display:inline;  overflow:hidden; background:url(../images/z5.gif) left center no-repeat; padding-left:9px;}
.zt_list li a { color:#666; font-size:14px;}
.zt_list li a:hover { text-decoration:none; color:#2cb445; }

.hz { width:1002px; margin:0 auto 50px; }
.hz h4 { text-align:center; background:url(../images/s_line3.gif) center 22px no-repeat; height:40px; line-height:40px; text-align:center; margin-bottom:24px; font-weight:normal; color:#333; font-size:30px;}
.hz_list { margin-right:-24px;}
.hz_list li { float:left; width:181px; float:left; margin:0 24px 18px 0; }
.hz_list li img { display:block; width:179px; height:90px; border:1px solid #e3e3e3; }

/*South.css*/

.south_pic { height:282px; }
.south_pic a { background:url(../images/s_big1.jpg) center top no-repeat; height:282px; display:block; }
.sou_bg { background:url(/images/about_bg.jpg) left top repeat-x; width:1020px; margin:0 auto;}
.south { width:1002px; margin:0 auto; background:none;  }
.s_tab { margin-bottom:65px; overflow:hidden; background:none; }
.s_tab li { float:left; width:130px; padding-left:50px;  background:none;  margin-right:88px; display:inline; }
.s_tab li span { display:inline-block;  background:none;  height:34px; line-height:34px; padding:36px 0 28px; color:#fff; font-size:20px;  cursor:pointer;}
.s_tab li.s_cur span { text-decoration:none; background:url(../images/s_jt.gif) center bottom no-repeat; }
.s_tab li img { vertical-align:middle; margin-right:5px; }
.s_tab .tab_last { margin-right:0; }
.s_con { padding-bottom:85px; }
/*公司简介*/
.jian { }
.jian dl { margin-bottom:46px; }
.jian dt { float:left; color:#fff; font-size:24px; margin-top:36px; background:url(../images/j1.gif) no-repeat; width:121px; height:120px; text-align:center; line-height:120px; }
.jian dd { float:right; width:835px; }
.jian dd h4 { font-weight:normal; color:#333; font-size:20px; line-height:26px; margin-bottom:26px; }
.jian dd p { color:#666; font-size:14px; line-height:26px; }
.jian dd em { display:block; color:#333; }
.jian .d1 { padding-bottom:35px; border-bottom:1px solid #ddd; }
.jian .d2 dt { background:url(../images/r2.gif) no-repeat; }
.s_jg { margin-left:50px; }
.s_jg img { width:942px; height:370px; }
/*企业文化*/
.qiye { }
.q_con { background:url(../images/q_bg.gif) center top no-repeat; height:454px; margin-bottom:50px; overflow:hidden; }
.q_name { margin-bottom:5px; }
.q_txt { float:left; padding:21px 32px 0 36px; width:608px; height:203px; }
.q_txt b { display:block; font-weight:normal; color:#333; height:26px; line-height:26px; overflow:hidden; font-size:20px; margin-bottom:4px; }
.q_txt em { display:block; color:#666; font-size:14px; line-height:26px; height:52px; overflow:hidden; margin-bottom:18px; }
.q_name span { float:right; width:324px; }
.q_name span img { display:block; width:324px; height:224px; }
.q_logo { }
.q_logo span { float:left; width:253px; height:156px; padding:68px 0 0 70px; }
.q_logo span img { display:block; width:181px; height:88px; }
.q_logo p { float:right; width:587px; height:200px; padding:24px 44px 0 40px; overflow:hidden; }
.q_logo b { display:block; font-weight:normal; color:#333; height:26px; line-height:26px; overflow:hidden; font-size:20px; margin-bottom:15px; }
.q_logo em { display:block; color:#666; font-size:14px; line-height:24px; height:120px; overflow:hidden; }
.q_list { }
.q_list dl { width:464px; height:144px; overflow:hidden; float:left; display:inline; margin:0 74px 26px 0; }
.q_list .no_mar { margin-right:0; }
.q_list dt { float:left; width:107px; }
.q_list dt img { width:107px; height:107px; }
.q_list dd { float:right; width:334px; }
.q_list h4 { font-weight:normal; font-size:24px; color:#666; height:26px; line-height:26px; overflow:hidden; margin-bottom:9px; }
.q_list p { color:#666; font-size:14px; line-height:24px; }
/*企业资质*/
.zzhi { }
.zzhi h4 { font-weight:normal; color:#333; font-size:20px; line-height:30px; padding-left:75px; background:url(../images/zzhi.gif) left 1px no-repeat; height:60px; overflow:hidden; margin-bottom:42px; }
.zz_con { /*height:565px; overflow:auto; */}
.zz_table { width:978px; border:1px solid #dbdbdb; }
.zz_table th, .zz_table td { height:46px; line-height:46px; border:1px solid #dbdbdb; padding-left:40px; width:445px; color:#666; font-size:14px; }
.zz_table th { color:#333; font-size:20px; background:#efefef; }
/*员工文化*/
.wh { }
.wh dl { }
.wh .w1 { margin-bottom:64px; }
.wh dt { width:121px; float:left; background:url(../images/j1.gif) no-repeat; height:120px; line-height:120px; text-align:center; color:#fff; font-size:24px; }
.wh .w2 dt { background:url(../images/r2.gif) no-repeat; }
.wh dd { width:836px; float:right; }
.wh h4 { font-weight:normal; color:#333; font-size:24px; height:30px; line-height:30px; overflow:hidden; margin-bottom:8px; }
.wh p { color:#666; font-size:14px; line-height:26px; padding-right:22px; }
.wh .hd { border-bottom:1px solid #ddd; padding-bottom:32px; margin-bottom:30px; }
.w_pic { margin-top:30px; height:172px; position:relative; }
.w_lt { background:url(../images/w_lt.gif) no-repeat; width:14px; height:26px; position:absolute; top:58px; left:-10px; }
.w_rt { background:url(../images/w_rt.gif) no-repeat; width:14px; height:26px; position:absolute; top:58px; right:0; }
.w_wrp { width:825px; margin:0 auto; }
.w_wrp li { float:left; width:249px; display:inline; margin:0 13px; }
.w_wrp li img { display:block; width:249px; height:140px; }
.w_wrp li span { display:block; height:25px; line-height:25px; overflow:hidden; margin-top:7px; text-align:center; color:#666; font-size:14px; }
/*诚聘英才*/
.yc { }
.yc_lt { width:140px; float:left; position: relative;}
.yc_box { position:absolute; left:0; top:0; z-index:3; }
.yc_list { }
.yc_list li { border-bottom:5px solid #fff; }
.yc_list li span { display:block; background:url(../images/y02.gif) no-repeat; height:58px; line-height:58px; padding-left:20px; width:118px; color:#333; font-size:18px; }
.yc_list li.y_cur span { background:url(../images/y1.gif) no-repeat; color:#fff; text-decoration:none; }
.yc_lt .jion { display:block; background:#38bf4d; height:92px; text-align:center; color:#fff; width:127px; }
.jion span { display:block; padding:26px 0 15px; background:url(../images/y_jt.gif) center bottom no-repeat; font-size:18px; }
.yc_rt { width:815px; float:right; }
.yc_rt h4 { height:42px; line-height:42px; font-weight:normal; color:#333; font-size:24px; border-bottom:1px solid #ddd; margin-bottom:28px; }
/*泛微人才观*/
.lx_pic img { display:block; width:814px; height:143px; }
.lx { margin-bottom:50px; }
.dna dl { margin-bottom:18px; height:80px; overflow:hidden; }
.dna dt { float:left; width:77px; height:77px; border:1px solid #f1f1f1; text-align:center; line-height:77px; color:#b40107; font-size:40px; font-family:Arial, Helvetica, sans-serif; }
.dna dd { float:right; width:724px; line-height:26px; color:#666; }
.dna b { display:block; font-weight:normal; font-size:20px; }
.dna span { display:block; font-size:14px; }
.dna em { font-size:16px; font-family:Arial, Helvetica, sans-serif; display:block; }
/*培训与发展*/
.px_txt { }
.px_txt h5 { height:30px; margin-bottom:8px; font-weight:normal; }
.px_txt h5 span { display:inline-block; height:30px; line-height:30px; padding:0 13px; color:#333; font-size:20px; background:#e4e4e4; }
.px_txt p { color:#666; line-height:26px; font-size:14px; margin-bottom:20px; }
/*薪酬福利*/
.fli { margin-right:36px; }
.fli img { display:block; width:815px; height:650px; }
/*招聘职位*/
.zp { margin-top:32px; }
.zp dl { margin-bottom:10px; }
.zp dt { height:35px; line-height:35px; overflow:hidden; background:#f2f2f2; padding:0 13px 0 19px; }
.zp dt span { display:block; color:#333; font-size:16px; background:url(../images/zp2.gif) right center no-repeat; }
.zp dt span:hover { text-decoration:none; }
.zp dd { padding:12px 20px 30px 20px; display:none; }
.zp dd h5 { font-weight:normal; font-size:20px; color:#333; margin-bottom:4px; }
.zp dd p { color:#666; line-height:26px; font-size:14px; margin-bottom:20px; }
.zp dd p a { color:#666; }
.zp .down dt span { color:#b40107; background:url(../images/zp1.gif) right center no-repeat;  cursor:pointer;}
.zp .down dd {}
.sq { display:block; background:url(../images/sq.gif) no-repeat; width:185px; height:52px; line-height:52px; text-indent:185px; overflow:hidden; }

.yc_box_fixed{ position:fixed; top:20px;left:50%;margin-left:-500px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop)+20);}
/*Common.css*/
/* -- 翻页效果2 -- */
.apage2 { height:25px; line-height:25px; padding:0 5px;text-align:center; margin:30px 0 10px;}
.apage2 a { border:1px solid #2cb445; color:#2cb445; padding:0 3px;  margin-right:8px; line-height:24px; display:inline-block;width:25px;}
.apage2 .num_btns {float:right; font-family:Tahoma;}
.apage2 a:hover, .apage2 .cur { border:1px solid #D5D5D5;background-color:#2cb445; color:#fff; text-decoration:none; }
.apage2 .cust_txt { float:left;}
.apage2 .oran_pg_fp {width:auto; padding:0 10px; }
.apage2 .oran_pg_pp {width:auto; padding:0 10px; }
.apage2 .oran_pg_np {width:auto; padding:0 10px; }
.apage2 .oran_pg_lp {width:auto; padding:0 10px; display:none; }
.apage2 select { font-size:8px; margin-top:5px; }
.apage2 .oran_pg_txt { height:15px; border:solid 1px #d4e3e9; width:20px; margin-left:5px;}
.apage2 .oran_pg_btn { height:15px; border:solid 1px #d4e3e9; margin-left:5px; font-size:9px; background:#5984ac; color:#fff; }

.xnones{display:none;}




/*Search*/
.search_con { padding:10px; }
dl.sear_dl { margin-bottom:10px; border-bottom:1px dotted #ccc; padding-bottom:10px; color:#666; height:160px; overflow:hidden; }
dl.sear_dl dt.tit, .l2tit { font-size:14px; text-indent:10px; line-height:25px; }
dl.sear_dl dt.tit .tit_a, .l2tit .tit_a { height:25px; background:url(../images/ico10.gif) no-repeat 0 12px; overflow:hidden; white-space:nowrap; display:block; float:left; }
dl.sear_dl dt.tit .tit_b { width:300px; height:25px; overflow:hidden; white-space:nowrap; display:block; float:left; }
dl.sear_dl dt.tit .span1, .l2tit .span1 { font-size:12px; float:left; margin-left:10px; }
dl.sear_dl dt.tit .span2, .l2tit a .span2 { float:left; margin-left:10px; }
dl.sear_dl dt.tit .span2 a, .l2tit a .span2 a { color:#ff0000; }
dl.sear_dl dd.d1 { padding:0 10px; line-height:22px; text-align:justify; text-justify:inter-ideograph; overflow:hidden; color:#000; }
dl.sear_dl dd span, .l2tit span { }
dl.sear_dl dd a, .l2tit a { text-decoration:underline; }
dl.sear_dl dd .a_d { color:#079A3E; margin-right:5px; padding-left:10px; line-height:20px; }
.search_con .search_hl { color:Red; padding:0px; }
.sear_dl .dt2 { width:175px; height:141px; float:left; padding-left:10px; }
.sear_dl .dt2 a { width:171px; height:137px; border:solid 1px #ccc; padding:1px; display:block; }
.sear_dl .dt2 a:hover { border:solid 1px #C10005; } /*产品边框，点击效果*/
.sear_dl .dt2 img { width:171px; height:137px; display:block; }
.sear_dl .d2 { height:110px; overflow:hidden; line-height:22px; padding-left:10px; text-align:justify; text-justify:inter-ideograph; }
.sear_dl font{ color:#079A3E !important}

.map_main { overflow:hidden; border:solid 5px #F0F0F0; margin:10px 0; padding-bottom:10px; }
.sitemap_con { width:845px; margin:0 auto; color:#666; }
.sitemap_con .map_top { border-bottom:solid 1px #ccc; }
.sitemap_con .map_top img { float:left; }
.site_r_link { width:120px; margin-top:45px;/*上边界根据需要进行调整*/ border:1px solid #cdcdcd; background:#F8F8F8; padding:5px 10px; float:right; } /*网站地图，显示方式样式，上边界根据需要进行调整*/
.site_plc { background:url(../images/ico27.gif) no-repeat 0 8px; padding:5px 0; text-indent:10px; }
.sitemap_con h4 { line-height:30px; }
.b4 { border:solid 1px #E0E0E0; }
.b4 ul { padding:0 11px; }
.b4 li { float:left; line-height:25px; width:164px; white-space:nowrap; overflow:hidden; }
.b4 li a { color:#666; }
.b4 li a:hover { color:#079A3E; }



/*联系我们*/

.sz_bg { background:url(../images/s01.gif) left top repeat-x;}
.sz_bg h2 { height:113px; color:#fff;  background:url(../images/s02.gif) no-repeat; width:220px; text-align:center; margin-bottom:44px;}
.sz_bg h2 a { color:#fff; padding-top:20px; color:#fff; font-size:26px; display:block; } 
.sz_bg h2 em { display:block; text-transform:uppercase; font-size:18px; font-weight:normal;}

.ab_sz { margin-bottom:45px; }
.ab_sz h3 { color:#000; font-weight:normal; font-size:24px; height:34px; line-height:34px; margin-bottom:9px;}
.ab_sz p { color:#666; font-size:14px; line-height:30px; text-indent:24px; margin-bottom:15px; }

.case1 { padding-bottom:15px;}
.cs_tit { height:48px; line-height:48px; font-weight:normal; background:url(../images/s_line.gif) left bottom no-repeat; margin-bottom:22px; } 
.cs_tit a { color:#000; font-size:24px; }
.case1 ul { margin-right:-24px; } 
.case1 li { width:181px; float:left; display:inline; margin:0 24px 18px 0;}
.case1 li a { display:block;}
.case1 li img { display:block; width:179px; height:90px; border:1px solid #e3e3e3; }

.case2 { margin-bottom:36px;}
.case2 li { float:left; height:40px; line-height:40px; background:url(../images/s_li.gif) left center no-repeat; padding-left:13px; width:230px; display:inline; margin-right:120px; border-bottom:1px dotted #999; }
.case2 li a { color:#333; font-size:14px;}
.case2 .cs_last { margin-right:0; }
.case2 .no_bor { border-bottom:none; }
.s_img { height:188px; margin-bottom:30px;}
.s_img img { display:block; width:1002px; height:188px;}
.txt { line-height:30px; color:#666; font-size:14px; margin-bottom:30px;}
.caimg { margin:0 -50px 40px 0;}
.caimg li { float:left; width:100px; height:65px; text-align:center; display:inline; margin-right:50px; padding-top:35px; }
.caimg li a { color:#fff; font-size:18px;}
.caimg .i1 { background:url(../images/y01.gif) no-repeat; }
.caimg .i2 { background:url(../images/y2.gif) no-repeat; }
.caimg .i3 { background:url(../images/y3.gif) no-repeat; }
.caimg .i4 { background:url(../images/y4.gif) no-repeat; }
.caimg .i5 { background:url(../images/y5.gif) no-repeat; }
.caimg .i6 { background:url(../images/y6.gif) no-repeat; }
.caimg .i7 { background:url(../images/y7.gif) no-repeat; }

.detail-a{ margin:20px 26px; line-height:26px; }

.tab_list td{
	padding:7px;
	border-bottom:1px #ccc dotted;
}

 .tit{
	width:95%;
	height:32px;
	line-height:32px;
	font-size:16px;
	font-weight:bold;
	color:#333333;
	padding:0px 0px 0px 20px;
	margin-top:8px;
	text-align:center; border-bottom:#CCC 1px dashed;
}
.txt{
	padding:5px 15px;
	line-height:200%;
	color:#666766; font-size:14px;
}




  .t_page{
	padding:10px;
	text-align:center;
	font-size:12px;
	line-height:25px;
	
	}	
  .t_page a{
	padding:2px 5px;
	border:1px solid #DEDEDC;
	margin:0px 3px;}	
	
	
.ColorLink a {color:#114f89;}
.ColorLink a:hover {color:#114f89;}		

						
a.link_more2{ color:#ff6600;  font-size:12px;  text-decoration:none;}
a.link_more2:hover{  text-decoration:underline; }


a.link_news_title{ color:#333333;  font-size:12px;  text-decoration:none;}
a.link_news_title:hover{  text-decoration:underline; }

a.link_news_title2{ color:#333333;  font-size:14px;  text-decoration:none; font-weight:bold;}
a.link_news_title2:hover{  text-decoration:underline; }

.newstime{ width:100%; text-align:center; line-height:2.2; font-size:14px; padding-top:5px;}
			


