body {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
hr {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
h1 {
	font-size: 100%;
}
h2 {
	font-size: 100%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 100%;
}
h5 {
	font-size: 100%;
}
h6 {
	font-size: 100%;
}
button {
	font-size: 100%;
}
input {
	font-size: 100%;
}
select {
	font-size: 100%;
}
textarea {
	font-size: 100%;
}
address {
	font-style: normal;
}
cite {
	font-style: normal;
}
dfn {
	font-style: normal;
}
em {
	font-style: normal;
}
i {
	font-style: normal;
}
var {
	font-style: normal;
}
s {
	text-decoration: none;
}
ul {
	list-style: none;
}
ol {
	list-style: none;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
img {
	border: 0px currentColor; border-image: none;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
label {
	cursor: default;
}
body {
	font: 12px/1.5 tahoma, arial, "Hiragino Sans GB", "microsoft yahei", 宋体, sans-serif; font-size-adjust: none; font-stretch: normal;
}
button {
	font: 12px/1.5 tahoma, arial, "Hiragino Sans GB", "microsoft yahei", 宋体, sans-serif; font-size-adjust: none; font-stretch: normal;
}
input {
	font: 12px/1.5 tahoma, arial, "Hiragino Sans GB", "microsoft yahei", 宋体, sans-serif; font-size-adjust: none; font-stretch: normal;
}
select {
	font: 12px/1.5 tahoma, arial, "Hiragino Sans GB", "microsoft yahei", 宋体, sans-serif; font-size-adjust: none; font-stretch: normal;
}
textarea {
	font: 12px/1.5 tahoma, arial, "Hiragino Sans GB", "microsoft yahei", 宋体, sans-serif; font-size-adjust: none; font-stretch: normal;
}
textarea {
	resize: none;
}
a {
	outline: 0px;
}
a:focus {
	outline: 0px;
}
html {
	
}
.clearfix::after {
	height: 0px; clear: both; display: block; content: "\20";
}
.clearfix {
	
}
.clear {
	height: 0px; line-height: 0; overflow: hidden; clear: both; font-size: 0px; display: block;
}
.fl {
	float: left; display: inline;
}
.fr {
	float: right; display: inline;
}
.fn {
	float: none;
}
.tl {
	text-align: left;
}
.tr {
	text-align: right;
}
.tc {
	text-align: center;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.mt10 {
	margin-top: 10px;
}
.noBg {
	background: none !important;
}
.noBorder {
	border: 0px currentColor !important; border-image: none !important;
}
.yahei {
	font-family: "microsoft yahei";
}
.red {
	color: red;
}
body {
	background: rgb(238, 239, 239); font: 12px/1.5 "Tahoma", 宋体, "microsoft yahei", Arial; font-size-adjust: none; font-stretch: normal;
}
a {
	color: rgb(49, 124, 52); text-decoration: none;
}
a:hover {
	color: rgb(234, 85, 4); text-decoration: none;
}
.wrapper {
	margin: 0px auto; width: 100%; overflow: hidden; position: relative;
}
.header {
	background: url("header.jpg") repeat-x top; padding: 0px; width: 100%; position: relative; z-index: 9;
}
.topArea {
	margin: 0px auto; padding: 0px; width: 1002px; height: 99px; position: relative; z-index: 9;
}
.logo {
	background: url("logo.jpg") no-repeat; width: 225px; height: 99px; overflow: hidden; float: left; display: inline; z-index: 9;
}
.logo a {
	width: 225px; height: 99px; padding-top: 99px; display: block;
}
.xd {
	height: 99px; float: left;
}
.topRight {
	height: 99px; float: right;
}
.set {
	text-align: right; color: rgb(153, 153, 153); line-height: 38px; margin-bottom: 12px;
}
.set a {
	margin: 0px 8px; color: rgb(153, 153, 153);
}
.tel {
	text-align: right;
}
.nav {
	background: url("nav.png") repeat-x; height: 45px; position: relative; z-index: 8;
}
.nav ul {
	margin: 0px auto; width: 1002px; height: 45px;
}
.nav ul li {
	background: url("navLine.jpg") no-repeat; width: 125px; height: 40px; line-height: 40px; font-size: 14px; float: left; position: relative;
}
.nav ul li a {
	height: 40px; text-align: center; color: rgb(0, 0, 0); display: block;
}
.nav ul li a:hover {
	background: rgb(234, 85, 4); color: rgb(255, 255, 255); text-decoration: none;
}
.nav ul li .current {
	background: rgb(234, 85, 4); color: rgb(255, 255, 255); text-decoration: none;
}
.nav ul .current a {
	background: rgb(234, 85, 4); color: rgb(255, 255, 255); text-decoration: none;
}
.nav ul .subNav {
	background: rgb(234, 85, 4); padding: 5px 0px; left: 50%; top: 40px; width: 125px; margin-left: -62px; display: none; position: absolute;
}
.nav ul .subNav dt {
	margin: 0px 10px; width: 105px; height: auto; border-bottom-color: rgb(244, 168, 126); border-bottom-width: 1px; border-bottom-style: dashed;
}
.nav ul .subNav dt a {
	background: url("ico_26.gif") no-repeat 0px 10px; font: 12px/18px "microsoft yahei"; padding: 4px 0px 4px 20px; width: 85px; height: auto; text-align: left; color: rgb(255, 160, 109); font-size-adjust: none; font-stretch: normal;
}
.nav ul .subNav dt a:hover {
	color: rgb(255, 255, 255);
}
.footer {
	background: rgb(89, 80, 75); padding: 20px 0px; color: rgb(156, 143, 136); position: relative; z-index: 9;
}
.footer a {
	color: rgb(156, 143, 136);
}
.footer a:hover {
	color: rgb(156, 143, 136);
}
.footer-bd {
	margin: 0px auto; width: 990px;
}
.ftNav {
	color: rgb(156, 143, 136); line-height: 30px; font-size: 14px; margin-left: -8px;
}
.ftNav a {
	margin: 0px 8px;
}
.copyright .fl {
	padding: 0px; width: 760px; line-height: 18px;
}
.copyright .fl p {
	padding: 5px 0px 0px;
}
.copyright .fl p img {
	vertical-align: top;
}
.f1 {
	background: url("ftico_1.jpg") no-repeat;
}
.f2 {
	background: url("ftico_2.jpg") no-repeat;
}
.f3 {
	background: url("ftico_3.jpg") no-repeat;
}
.f4 {
	background: url("ftico_4.jpg") no-repeat;
}
.fico {
	padding-left: 23px;
}
.way {
	height: 96px; float: right;
}
.way ol {
	height: 103px; margin-right: 7px; float: left;
}
.way ol li {
	border: 1px solid rgb(110, 98, 91); border-image: none; width: 48px; height: 27px; line-height: 26px; padding-left: 45px; margin-bottom: 3px;
}
.way ol li a {
	color: rgb(255, 255, 255);
}
.way p {
	width: 103px; height: 103px; float: left;
}
.way .wayWb {
	background: url("wayWb.jpg") no-repeat 12px 6px rgb(74, 64, 55);
}
.way .wayWx {
	background: url("wayWx.jpg") no-repeat 12px 6px rgb(74, 64, 55);
}
.way .wayEm {
	background: url("wayEm.jpg") no-repeat 12px 5px rgb(74, 64, 55);
}
.online {
	padding: 0px; top: 23px; width: 134px; right: 12px; overflow: hidden; position: absolute; z-index: 999;
}
.online img {
	vertical-align: top;
}
.online .hd {
	position: relative;
}
.online .bd {
	background: url("kf_2.jpg") repeat-y; font-family: "microsoft yahei";
}
.online .bd h2 {
	background: url("kf_8.jpg") no-repeat left bottom; height: 24px; text-align: center; color: rgb(234, 85, 4); font-size: 14px; font-weight: 100;
}
.online .bd ul {
	padding: 5px;
}
.online .bd ul li {
	background: url("kf_9.jpg") no-repeat 2px 6px; padding: 7px 0px 7px 32px; line-height: 18px; border-bottom-color: rgb(250, 218, 178); border-bottom-width: 1px; border-bottom-style: solid;
}
.online .bd ul li a {
	color: rgb(182, 65, 2);
}
.online .bd .r {
	margin: 0px auto; width: 81px; color: rgb(182, 65, 2); line-height: 14px; padding-bottom: 5px; font-size: 11px;
}
.online .bd .r p {
	padding-top: 5px;
}
.online .bd .t {
	background: url("kf_3.jpg") no-repeat; height: 5px;
}
.online .bd .a {
	background: url("kf_5.jpg") no-repeat; height: 16px;
}
.online .bd .c {
	background: url("kf_4.jpg") repeat-y; padding: 0px 6px;
}
.online .bd .b {
	background: url("kf_6.jpg") no-repeat; height: 5px;
}
.online .ft {
	background: url("kf_7.png") no-repeat; height: 6px;
}
.online .bd .phone {
	padding: 5px 10px; color: rgb(255, 255, 255); font-size: 13px;
}
#backtop {
	background: url("top.jpg"); width: 54px; height: 54px; right: 25px; bottom: 25px; text-indent: -9999em; position: fixed; z-index: 100; cursor: pointer;
}
