/* CSS Document */

/*主题部分*/
.home{padding:2px 0 0}
.main{width:1003px;margin:0 auto;}
.inner{background:url(inner_bg.jpg)}
#pageTop{width:51px;height:54px;background:url(page_top.jpg) no-repeat;position:fixed;_position:absolute;bottom:10px;right:10px;overflow:hidden;text-indent:-999px;cursor:pointer}
#pageTop a{width:100%;height:100%;display:block;}
#pageTop:hover{background-position:0 -54px;}
*html #pageTop a{width:51px;height:54px}

/*容器*/
.imgppt{text-align:center}
.box{margin:0 0 10px;position:relative;border:1px solid #e2e2e2}

.box .title{margin:1px;}

.box .title,
.newsbox .title,
.left h2.title{background:url(title_bg3.jpg) repeat-x;font-weight:bold;line-height:38px;height:38px;position:relative;font-size:13px}
/*
.spotbox .title{background-image:url(title_bg4.jpg)}
.left h2.title{background-image:url(title_bg4.jpg)}*/

.box .content,
.newsbox .content{padding:10px 10px 4px}

.box .title .title_more,
.newsbox .title .title_more,
.left h2.title .title_more{background:url(title_lead_bg2.gif) no-repeat 13px 50%;padding:0 10px 0 25px;color:#fff}

.box_119104,
.box_119105{background:url(dot_line.jpg) repeat-y 0 0;border:1px solid #e2e2e2;margin:0 0 10px!important}
.box_119104{background-position:375px 0}

.hot_commend{margin:10px 0;border:1px solid #e2e2e2}
.hot_commend .content{padding:10px}

/*更多按钮*/
.box .title .more,
.newsbox .title .more{background:url(more_2.gif) no-repeat;position:absolute;right:10px;top:14px;overflow:hidden;text-indent:-999px;width:32px;height:11px}
.box .title .more a,
.newsbox .title .more a{width:100%;height:100%;display:block}

/*左右滚动*/
.box .btn_pre,.box .btn_next{background:#A7A7A7 url(icon_lead_1.png) no-repeat 50% 50%;width:16px;height:16px;position:absolute;right:30px;top:10px;display:none}
.box .btn_next{background-image:url(icon_lead_2.png);right:10px;}
.box .btn_pre:hover,.box .btn_next:hover{background-color:#38B6F0}
.pro_sort .list{border:1px solid #e2e2e2;margin:0 0 .34em;padding:5px 5px 5px 18px;background-position:8px 13px}
.pro_sort .list:hover{background-color:#FDF7CC;}

.news_intro{margin:0;border-bottom:0}
.honor .pic_list_li{margin-bottom:0}
.boxgray .content{/*background:#fbfbfb*/}

/*普通新闻信息列表*/
.list{background:url(icon_dot.jpg) no-repeat 4px 7px;padding:0 0 5px 15px;}
.list_news_01{margin:0 1.2em}
.list_news_01 li{background:url(icon_dot.jpg) no-repeat .5em 50%;padding:.8em .8em  .8em 1.5em;margin:0;border-bottom:1px solid #e2e2e2}
.list_news_01 li.bg{background-color:#FCFCFC}
.list_news_01 li span{float:right}
.list_news_01 .ico{display:none}
.list_news_01 li:hover{background-color:#FFFEE5}

/*企业优势*/
.ys-box-content{padding:0;margin:0 1em;border-left:1px solid #EAEAEA;font-size:12px;color:#7F7F7F}
.ys-box-content li{position:relative;padding:5px 5px 5px 15px}
.ys-box-content li .circle{background:url(ys-float-2.jpg) no-repeat;width:12px;height:12px;position:absolute;display:block;left:-6px;top:8px}
.ys-box-content li:hover .circle,.ys-box-content li.head .circle{background-image:url(ys-float-1.jpg)}
.ys-box-content li.head{font-family:\5fae\8f6f\96c5\9ed1;font-size:22px;color:#222;}
.ys-box-content li.head .circle{top:16px}
.hr{height:1px;overflow:hidden;background:#eee;margin:.5em 0}

/*新闻详细页*/
.display_title{margin:0 1.2em;position:relative}
.display_title h1{font-family:\5fae\8f6f\96c5\9ed1;font-size:22px;color:#5e5e5e;margin:0 3.3em .6em 0}
.display_title .info{border-bottom:1px dotted #DBDBDB;padding:0 0 1.5em;margin:0 0 1em}
.display_title .font_size{font-size:0;position:absolute;right:15px;top:25px;height:20px;width:60px;height:20px;background:url(font_size.jpg) no-repeat;text-indent:-999px;overflow:hidden}
.display_title .font_size a{display:inline-block;*display:inline;zoom:1;width:20px;height:20px;float:right}
.page_up_dn{margin:.5em 1.2em .2em}
.page_up_dn li{padding:.3em 0}
.thumb_list{overflow:hidden;zoom:1;}

/**/
.diplay_foot{margin:0 1.2em 1.2em;padding:0 0 1.2em;border-bottom:1px solid #e2e2e2;}
.diplay_foot dt{float:left}
.diplay_foot a{display:inline-block;*display:inline;zoom:1;padding:.3em .8em;border:1px solid #e2e2e2}
.diplay_foot a:hover{background-color:#f9f9f9;text-decoration:none}
.diplay_foot dd{margin:0;padding:0;float:right}

/*一键分享*/
.share_box{z-index:300;display:inline-block;*display:inline;zoom:1;position:relative;width:100px}
.share_box .share_name{display:inline-block;*display:inline;zoom:1;padding:.3em .8em .3em 1.8em;border:1px solid #ddd;cursor:pointer;background:url(icon_share.gif) no-repeat 6px 50%;}
.share_box .share_name:hover{border-color:#ccc;color:#666}
.share_box .share_content{position:absolute;padding:.3em .8em;top:-7px;display:none;width:300px;left:80px;}

/*表格*/
.tab_list{color:#777;line-height:1.8}
.tab_list,.orderlist{border:1px solid #e2e2e2}
.tab_list td,.orderlist{border:1px solid #e2e2e2;padding:.4em .8em}
.tab_list .head,.orderlist th{background:#FBFBFB;padding:.4em .8em;font-weight:bold;color:#555}
.tab_list .col1{text-align:right;width:15%}
.tab_list .content{padding:1.2em;line-height:1.7}
.tab_list h3{color:#333}

/*在线询单按钮，购物车*/
.order{margin:0 1.2em}
.orderBottom{margin:1.2em;text-align:center}
.orderBottom a{display:inline-block;*display:inline;zoom:1;border:1px solid #e2e2e2;padding:.4em;margin:0 1em 0 0}
.orderBottom a:hover{background-color:#f8f8f8;text-decoration:none}
.orderlist th{text-align:center}

/*在线询单按钮*/
.enquiry{margin:1.2em auto 0;text-align:center}
.enquiry a{display:inline-block;*display:inline;zoom:1;background:url(btn_enquiry.png) no-repeat;width:105px;height:42px;}
.enquiry a:hover{background-position:0 -51px;}
.enquiry img{display:none}

.huoban{text-align:center}
.huoban img{margin:0 .2em}
/*图片列表*/
.thumb_list li{float:left;display:inline;text-align:center;margin:0;}
.huoban li{margin-right:.5em}
/*针对ie6浮动层必须给宽度的bug*/
*html .thumb_list li{_width:170px;_height:170px;}
.thumb_list li .pic{border:1px solid #e2e2e2;}
.honor .thumb_list .pic{border:0}

/*内页图片列表*/
.pic_list_01{overflow:hidden;zoom:1;margin:0 1.2em}
.pic_list_01 li{float:left;display:inline;text-align:center;margin:0;}
.pic_list_li{margin:0 .5em 1em;}
.pic_list_li .img{border:1px solid #e2e2e2;}
.pic_list_li .txt a{display:block;background:#F9F9F9;overflow:hidden;padding:.3em 0  .2em;border:1px solid #e2e2e2;border-top:0}
.pic_list_li a:hover img,.box a:hover img,.newsbox a:hover img{opacity:0.8;filter:alpha(opacity=80);}
.pic_list_li .txt a:hover{background:#FDF7CC;text-decoration:none;}

.pic_list_1{width:100%}
.pic_list_2{width:50%}
.pic_list_3{width:33.33%}
.pic_list_4{width:25%}
.pic_list_5{width:20%}
.pic_list_6{width:16.66%}
.pic_list_7{width:14.2%}
.pic_list_8{width:12.5%}
.pic_list_9{width:11.1%}
.pic_list_10{width:195px}

/*翻页样式*/
.page{padding:1em 0;margin:0 1.2em;zoom:1;overflow:hidden;}
.page .recordcount{float:left}
.page .page_no{float:right;font-size:0}
.page .page_no a{display:inline-block;*display:inline;zoom:1;border:1px solid #DEE3E7;padding:.2em .6em;margin:0 1px;border-radius:2px;font-size:12px;vertical-align:top;font-family:"\5b8b\4f53"}
.page .page_no a.current,.page .page_no a:hover{background-color:#E66A34;border-color:#E66A34;color:#fff;text-decoration:none}
.page .page_no .page_home,
.page .page_no .page_pre{padding-left:1.3em;background:url(page_btn.gif) no-repeat 5px 8px;}
.page .page_no .page_home:hover,
.page .page_no .page_pre:hover{background-position:5px -21px}

.page .page_no .page_next,
.page .page_no .page_end{padding-right:1.3em;background:url(page_btn.gif) no-repeat 85% -46px;}
.page .page_no .page_next:hover,
.page .page_no .page_end:hover{background-position:85% -73px}

/*内页样式*/	
.mainbg{position:relative;background:#fff url(mainbg.jpg) repeat-y 235px 0;overflow:inherit}	
.mainbg:after{content:".";display:block;height:0;clear:both;visibility:hidden}.mainbg{display:inline-table}*html .mainbg{height:1%}.mainbg{display:block}*+html .clearfix{min-height:1%}

.main-home .left{position:relative;width:235px;float:left;}
.main-home .right{margin:0 0 0 235px;_margin:0 0 0 232px;min-height:340px!important;height:auto;_height:340px}
.shadow{background:url(icon_dn.gif) no-repeat;width:7px;height:5px;position:absolute;left:210px;top:16px;display:none}
.left h2.title{}
.right .title{height:39px;line-height:39px;border-bottom:1px solid #e2e2e2;padding:0;font-weight:bold;font-size:14px;color:#333;margin:0 1em 1em;}
.location{position:absolute;right:1.2em;top:.7em;background:url(icon_home.jpg) no-repeat 0 50%;padding-left:18px;color:#bebebe}
.main-home .left .box{margin:10px}

.RelevantNews{margin:0 1.2em;padding:0 0 1em}
.RelevantNews h2{height:39px;line-height:39px;border-bottom:1px solid #e2e2e2;padding:0;font-weight:bold;font-size:14px;color:#F49110;}
.RelevantNews{}
.RelevantNews li{width:46.5%;float:left;background:url(icon_dot.jpg) no-repeat .5em 50%;padding:.5em .5em .5em 1.5em;margin:0;border-bottom:1px solid #e2e2e2}

/*左侧分类菜单*/
.menu{padding:5px 10px 10px;background:#FFFCEE}
.menu dt{border-bottom:1px dotted #ccc;line-height:32px;}
.menu a{display:block;background:url(icon_dot.jpg) no-repeat 4px 50%;padding:0 0 0 15px;}
.menu dt .current,.menu dt .current:hover{color:#EF7705;color:#F38800;font-weight:bold}
.menu a:hover{text-decoration:none;background-color:#FDF7CC}
.menu dd a{line-height:32px;background:url(icon_dot.jpg) no-repeat 15px 50%;padding:0 25px;}
.menu dd .current{color:#F38800;font-weight:bold}
.display_content{padding:1em 1.2em;color:#555;line-height:1.8;font-family:"simsun";font-size:14px}

/*联系我们*/
.contact{margin:0 1.2em}

/*联系我们*/				

.ibwmessage{margin:0 1.5em 0;padding:0;}
.replyTitle{color:#FF7900;font-weight:bold;margin:.5em 0;padding:.3em 0 0 1.6em;background:url(icon_ans.jpg) no-repeat 0 6px}
.replyContent{color:#FF7900;border-bottom:1px solid #ededed;padding:0 0 1em 1.6em;}
.bgmessage{padding:1em 0 0 1.6em;background:url(icon_ask.jpg) no-repeat 0 15px}

.contact_box{margin:1.5em 1.2em 1em;border:1px solid #eee;position:relative;top:0;right:2px;}
.contact_inner1{border:1px solid #eee;position:relative;top:-2px;right:2px;background:#fff}
.contact_inner2{border:1px solid #eee;position:relative;top:-2px;right:2px;background:#fff url(contact_bg.jpg) no-repeat right 5px;padding:1.3em;line-height:22px}
.map_box{margin:1em 0 0}

/*表单样式*/					
.inputbox{margin:0 1.2em 1.5em;overflow:hidden;zoom:1;}
.inputbox p{padding:.5em 0}
.inputbox .ibl{float:left;width:15%;text-align:right;display:block;padding-top:.4em}
.inputbox .ibr{margin:0 0 0 15%;display:block;padding-left:.3em}
.tip{margin:0 1.2em 1em;color:#f60}
.module_form_box{margin:0 1.2em 1.5em;}
.module_form_intro{border-bottom:1px solid #e2e2e2;margin:0 0 1.2em}
.module_form_intro .name{border-bottom:3px solid #f30;display:inline-block;*display:inlne;zoom:1;padding:0 .8em .5em;font-size:14px;font-weight:bold;color:#333}

.module_field{padding:.5em 0}
.module_field .c_left{float:left;width:15%;text-align:right;display:block;padding-top:.4em}
.module_field .middle{margin:0 0 0 15%;display:block;padding-left:.3em}
.module_form_tips{padding:.3em 1em .8em;color:#f60}

/*提交，重置按钮*/
.btn-submit{width:80px;height:35px;border:0;background:url(btn-submit.jpg) no-repeat;cursor:pointer;color:#fff;font-size:14px;font-weihgt:bold}
.reset{width:80px;height:35px;border:0;background:url(btn-submit2.jpg) no-repeat;cursor:pointer;color:#fff;font-size:14px;font-weihgt:bold}


				

.contact_us .content{line-height:1.7}					
						
.page_top{position:absolute;}	
.font0{font-size:0}
						
.caption{border-bottom:1px solid #D10B08;margin:0 0 15px}
.caption .text{background:url(caption_bg.jpg) repeat-x;display:inline-block;*display:inline;zoom:1;padding:0 22px;line-height:34px;color:#fff;font-size:14px;font-weight:bold;}							
						
						
						
  
.fitem{ float:left; margin-left:40px; margin-right:40px;}
.tab_list td{
	padding:7px;
	border-bottom:1px #ccc dotted;
}

 .tit{
	width:95%;
	height:32px;
	line-height:32px;
	font-size:16px;
	font-weight:bold;
	color:#333333;
	padding:0px 0px 0px 20px;
	margin-top:8px;
	text-align:center; border-bottom:#CCC 1px dashed;
}
.txt{
	padding:5px 15px;
	line-height:200%;
	color:#666766; font-size:14px;
}



input {
	
	  font-size: 12px;
	  color: #333333;
	  font-style: normal;
	  font-variant: normal;
	  line-height: normal;
	  letter-spacing: 1px;
	  background:none;
	  border: 1px solid #cccccc;
	  margin-right:5px; width:300px; height:24px;
	
}
textarea {
	font-size: 12px;
	color: #333333;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	letter-spacing: 1px;
	background:none;
	border: 1px dotted #7f9db9;
    margin-right:5px;
	width:450px;
}

  .t_page{
	padding:10px;
	text-align:center;
	font-size:12px;
	line-height:25px;
	
	}	
  .t_page a{
	padding:2px 5px;
	border:1px solid #DEDEDC;
	margin:0px 3px;}	
	
	
.ColorLink a {color:#114f89;}
.ColorLink a:hover {color:#114f89;}						
						
						
a.link_more2{ color:#ff6600;  font-size:12px;  text-decoration:none;}
a.link_more2:hover{  text-decoration:underline; }


a.link_news_title{ color:#333333;  font-size:12px;  text-decoration:none;}
a.link_news_title:hover{  text-decoration:underline; }

a.link_news_title2{ color:#333333;  font-size:14px;  text-decoration:none; font-weight:bold;}
a.link_news_title2:hover{  text-decoration:underline; }

.newstime{ width:100%; text-align:center; line-height:2.2; font-size:14px; padding-top:5px;}
			