<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>港漂保险</title>

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/piao/Public/css/style-mobile-index.css" media="only screen and (max-width:599px)">
</head>

<body>

<header><h1>香港第一家专为港漂人群服务的<br>专业保险经纪公司</h1></header>
<div class="content">
    <div class="btn"><h2 class="btntxt"><a href="#">港漂妈妈保险</a></h2><h2 class="btntxt"><a href="#">港漂学生保险</a></h2></div>
    <div class="text"><img src="/piao/Public/images/ad-text.png" width="467" height="197"></div>
    <div class="footer">中精风险管理与精算咨询有限公司</div>
</div>

</body>
</html>
