* {
	padding: 0;
	margin: 0;
}
/*框架*/
html {
	-ms-touch-action: none;
}/* 禁止winphone默认触摸事件 */
body {
	overflow: hidden;
}

body, div, p, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, table,th, td, input, button, select, textarea {
	margin: 0;
	padding: 0;
	font-style: normal;
	font: 100% Helvetica;
}

p, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, table,th, td, input, button, select, textarea {
	margin: 0;
	padding: 0;
	font-style: normal;
	font: 100% Helvetica;
	color: #f3e719;
}

li {
	list-style-type: none;
}

.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}

.clearfloat {
	zoom: 1
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	color: #f3e719;
}

input[type="button"], input[type="submit"], input[type="reset"] {
	-webkit-appearance: none;
}

::-webkit-input-placeholder {
 /* WebKit browsers */
	color: #f7fbd9;
}

img {
	border: none;
	vertical-align: middle;
}

.bgimg {
	width: 100%;
	background: url(../images/bg3.png) no-repeat center top;
	background-size: cover;
}

.swiper-slide1 {
	width: 100%;
	height: 100%;
	background: url(../images/bg1.png) no-repeat left top;
	background-size: 100% 100%;
}

.page1 {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 16%;
}

.swiper-slide2 {
	width: 100%;
	height: 100%;
	background: url(../images/bg4.png) no-repeat left top;
	background-size: 100% 100%;
}

.choujiang {
	width: 100%;
	margin: 7% auto 0 auto;
}

.turntable-bg {
	width: 80%;
	margin: 0 auto;
	height: 842px;
	position: relative;
}

.turntable-bg .mask {
	width: 454px;
	height: 451px;
	position: absolute;
	left: 116px;
	top: 60px;
}

.turntable-bg .pointer {
	position: absolute;
	width: 30%;
	left: 41%;
	top: 16%;
	z-index: 8;
}

.turntable-bg .rotate {
	width: 100%;
	height: 350px;
	position: absolute;
	left: 2%;
	top: 38px;
}

.ren {
	width: 50%;
	position: absolute;
	top: 55%;
	text-align: center;
	right: 0%;
}

.share {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	background: #3c0000;
	background: rgba(60,0,0,0.8) none repeat scroll !important;
 /*实现FF背景透明，文字不透明*/
	filter: Alpha(opacity=80);
}

.share img {
	position: absolute;
	top: 3%;
	right: 5%;
}

.swiper-slide3 {
	width: 100%;
	height: 100%;
	background: url(../images/bg2.png) no-repeat left top;
	background-size: 100% 100%;
}

.gx {
	text-align: center;
	margin-top: 30%;
}

.gx p {
	color: #fff;
	font-weight: bold;
	font-size: 1.2em;
}

.add_tel {
	width: 90%;
	margin: 15% auto 5% auto;
}

.add_tel .name,.add_tel .tel {
	border: 2px solid #e9c881;
	color: #fff;
	border-radius: 5px;
	margin-bottom: 10%;
}

.add_tel .name input,.add_tel .tel input {
	border: none;
	background: 0;
	color: #fff;
	width: 80%;
	font-size: 1em;
	height: 2.5rem;
}

.add_tel label {
	display: inline-block;
	float: left;
	margin-top: 3%;
	width: 15%;
	margin-left: 3%;
}

.add_tel .submit {
	margin-top: 23%;
}

.add_tel .submit input {
	background: url(../images/btn1.png) no-repeat center top;
	background-size: 50%;
	height: 3.5rem;
	width: 100%;
	border: 0;
}

.no_prize {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 15%;
}

.g_sc {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
}

.img01 {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 8%;
}

.prize {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 20%;
}

.g_sc1 {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 4%;
}

@-webkit-keyframes bounce {
	0%,100%,20%,53%,80% {
		-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0)
	}

	40%,43% {
		-webkit-transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
		transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
		-webkit-transform: translate3d(0,-30px,0);
		transform: translate3d(0,-30px,0)
	}

	70% {
		-webkit-transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
		transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
		-webkit-transform: translate3d(0,-15px,0);
		transform: translate3d(0,-15px,0)
	}

	90% {
		-webkit-transform: translate3d(0,-4px,0);
		transform: translate3d(0,-4px,0)
	}
}

@keyframes bounce {
	0%,100%,20%,53%,80% {
		-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0)
	}

	40%,43% {
		-webkit-transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
		transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
		-webkit-transform: translate3d(0,-30px,0);
		-ms-transform: translate3d(0,-30px,0);
		transform: translate3d(0,-30px,0)
	}

	70% {
		-webkit-transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
		transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
		-webkit-transform: translate3d(0,-15px,0);
		-ms-transform: translate3d(0,-15px,0);
		transform: translate3d(0,-15px,0)
	}

	90% {
		-webkit-transform: translate3d(0,-4px,0);
		-ms-transform: translate3d(0,-4px,0);
		transform: translate3d(0,-4px,0)
	}
}

.bounce {
	-webkit-animation: bounce 1s ease infinite;
	animation: bounce 1s ease infinite;
}

@media (device-height:667px) and (-webkit-min-device-pixel-ratio:2) {
/* 兼容iphone6 */
	.turntable-bg .pointer {
		width: 30%;
		position: absolute;
		left: 38%;
		top: 17%;
		z-index: 8;
	}

	.add_tel .name input,.add_tel .tel input {
		border: none;
		background: 0;
		color: #fff;
		width: 70%;
		font-size: 1em;
		height: 3rem;
	}
}

@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2) {
/* 兼容iphone6 Plus */
	.turntable-bg {
		width: 82%;
		margin: 0 auto;
		height: 842px;
		position: relative;
	}

	.turntable-bg .pointer {
		width: 30%;
		position: absolute;
		left: 38%;
		top: 19%;
		z-index: 8;
	}

	.add_tel .name input,.add_tel .tel input {
		border: none;
		background: 0;
		color: #fff;
		width: 70%;
		font-size: 1em;
		height: 3rem;
	}

	.add_tel .submit {
		margin-top: 30%;
	}

	.add_tel .submit input {
		background: url(../images/btn1.png) no-repeat center top;
		background-size: 50%;
		height: 3.7rem;
		width: 100%;
		border: 0;
	}
}












