/*ezhanku.com  做最好的织梦模板*/

*{color:#666;}
.fl{float: left;}
.fr{float: right;}
.clear{clear: both;height:0px;font-size: 0px;width:100%;}

.about-top{height:380px;}
.about-top .fl{width:420px;font-family:'宋体';line-height:26px;margin-left:40px;}
.about-top .fr{width:488px;position: relative;top:-65px;}
.about-top .about-bd{position: relative;width:100%;height:340px;}
.about-top .about-bd li{position: absolute;left:0px;top:0px;}
.about-top .about-hd{height:41px;background: url(../images/h_06.jpg) repeat-x;width:100%;text-align: center;line-height:41px;}
.about-top .about-hd span{display:inline-block;width:16px;height:16px;background: url(../images/h_11.jpg) no-repeat;margin:0px 5px;}
.about-top .about-hd span.on{background: url(../images/h_09.jpg) no-repeat;}
.about-top .fr a.btn{display: block;width:25px;height:14px;cursor: pointer;position: absolute;z-index:99;bottom:15px;}
.about-top .fr a.prev{background: url(../images/h_14.jpg) no-repeat;left:15px;}
.about-top .fr a.next{background: url(../images/h_17.jpg) no-repeat;right:15px;}
.about-content{background:#f2efeb;width:100%;overflow: hidden;padding:40px 0px;}
.about-content .center{background: url(../images/h_07.jpg) repeat-y center top;overflow: hidden;}
.about-content dl{width:416px;margin-bottom:20px;overflow: hidden;}
.about-content dl dt{width:100%;height:68px;line-height:68px;font-size:18px;color:#00579f;font-weight: bold;}
.about-content dl dt span{display: inline-block;background: url(../images/h_25.jpg) no-repeat;width:30px;height:30px;text-align: center;line-height:30px;color:#fff;margin-right:10px;}

.about-bottom{width:425px;padding:60px 0px 70px 0px;}
.about-bottom dt{height:45px;font-size:26px;color:#386fb4;}
.about-bottom dt span.s1{color:#8ac835;}
.about-bottom dt span.s2{color:#019ddd;}
.about-bottom dd.text{font-family:'宋体';line-height:26px;height:126px;}
.temp-btn{height:42px;width:120px;background:#5a7676;text-align: center;line-height:42px;font-family:'宋体';font-weight:bold;font-size:14px;color:#fff;}
.temp-btn a{color:#fff;}

.about-int{width:922px;margin-left:36px;margin-bottom:68px;float: left;}
.about-int .pic{width:468px;height:310px;}
.about-int .pic img{border:5px solid #e0e0e0;width:458px;height:300px;}
.about-int .text{width:384px;font-size:14px;}
.about-int .text dt{height:20px;color:#666;}
.about-int .text dd.tit{line-height:26px;font-size:22px;margin-bottom:10px;}
.about-int .text dd.tit a{color:#333;}
.about-int .text dd.data{line-height:26px;font-family: '宋体';}

.honour{padding-bottom:90px;}
.honour .top{height:47px;width:924px;margin-left:40px;}
.honour .top .s1{display: block;width:6px;height:47px;background: url(../images/h1_03.jpg) no-repeat;float: left;}
.honour .top .s2{display: block;width:6px;height:47px;background: url(../images/h1_04.jpg) no-repeat;float: right;}
.honour .top-time{width:912px;background: url(../images/h1_05.jpg) repeat-x;height:45px;padding:1px 0px;float: left;position: relative;}
.honour .top-time-nr{overflow: hidden;width:830px;position: relative;z-index:55;margin-left:42px;background: url(../images/h1_12.jpg) no-repeat left center;}
.honour .top-time-nr ul{position: relative;left:0px;width:99999px;}
.honour .top-time-nr ul li{width:139px;background: url(../images/h1_12.jpg) no-repeat right center;text-align: center;float: left;margin:0px;height:45px;line-height:45px;
    cursor: pointer;}
.honour .top-time-nr ul li.on{background: url(../images/h1_10.jpg) no-repeat right center;color:#ff864e;}
.honour .top-time a{display: block;cursor:pointer;width:10px;height:23px;position: absolute;top:12px;z-index:99;}
.honour .top-time a.prev{left:10px;background: url(../images/h1_15.jpg) no-repeat;}
.honour .top-time a.next{right:10px;background: url(../images/h1_18.jpg) no-repeat;}


.honour-slide .trigger{padding:65px 0px 32px 0px;height:24px;line-height:24px;text-align: center;position: relative;font-size:22px;color:#000;}
.honour-slide .trigger p{display: none;}
.honour-slide .bd{background:#e6e6e6;position: relative;height:646px;}
.honour-slide .bd li{position: absolute;left:20px;top:20px;}
.honour-slide .hd{height:124px;background:#434343;width:100%;position: relative;}
.honour-slide .hd-nr{margin-left:45px;width:900px;overflow: hidden;height:124px;position: relative;}
.honour-slide .hd-nr ul{width:9999px;position: relative;top:20px;height:82px;}
.honour-slide .hd-nr ul li{float:left;width:143px;height:82px;margin:0px 10px;opacity:0.5;filter:alpha(opacity=50);position: relative;}
.honour-slide .hd-nr ul li b{display: none;width:143px;height:82px;background: url(../images/h_15.png) no-repeat;position: absolute;left:0px;top:0px;}
.honour-slide .hd-nr ul li.on{opacity:1;filter:alpha(opacity=100);}
.honour-slide .hd-nr ul li.on b{display: block;}
.honour-slide a.btn{display: block;width:25px;height:14px;cursor: pointer;position: absolute;z-index:99;bottom:55px;}
.honour-slide a.prev{background: url(../images/h_14.jpg) no-repeat;left:15px;}
.honour-slide a.next{background: url(../images/h_17.jpg) no-repeat;right:15px;}

.temp-prompt{width:960px;padding-left:40px;}
.temp-prompt p{line-height:40px;font-size:22px;color:#00579f;width:565px;}

.about-speech{padding:60px 0px 110px 0px;}
.about-speech .pic{width:292px;}
.about-speech .pic img{border:5px solid #e0e0e0;}
.about-speech .text{width:600px;padding-left:40px;line-height:26px;}
.about-speech .text p{margin-bottom:30px;text-indent:14px;font-size:14px;color:#666;font-family: '宋体';}
.about-speech .text p.mark{color:#00579f;font-size:18px;font-family: '微软雅黑'; float: right; text-align: right;margin:0px;}
.about-speech .text p.mark img{float: left;}
.about-speech .text p.mark span{float: left; padding-top:35px;}

.temp-property{border-top:1px solid #787878;overflow: hidden;padding-bottom:60px;}
.temp-real{padding-top:38px;font-family: '宋体'}
.temp-real h5{height:54px;font-size:24px;font-family: '微软雅黑';color:#333;}
.temp-real h3{height:56px;color:#666;font-size:14px;}
.temp-real dl{margin-bottom:38px;overflow: hidden;position: relative;}
.temp-real dl img{display: block;}
.temp-real dl p{position: absolute;z-index:10;height:50px;line-height:50px;background:url(../images/index-icon.png) repeat-x;
    color:#fff;text-align: center;left:0px;bottom:0px;width:100%;}
.temp-real .btn{width:100%;text-align: center;height:50px;margin-bottom:10px;}    
.temp-real .btn a{display: inline-block;width:150px;height:50px;font-weight: bold;font-size:14px;color:#fff;background: #80a0d6;line-height:50px;}

.temp-other{margin-top: 30px;}
.temp-other h5{height:50px;line-height:50px;font-size:24px;color:#575757;text-align: center;background: url(../images/hr_12.png) no-repeat center top;}
.temp-other h3{font-size: 24px;text-align: center;line-height: 30px;color: #575757;}
.temp-other h3 span{border-top: 3px solid #4c4c4c;background: url(../images/temp-other-title.png) center top no-repeat;}
.temp-other-nr{background:#e0e0e0;margin-top:24px;overflow: hidden;position: relative;}
.temp-other-nr .bd{padding:25px 40px 20px 40px;overflow: hidden;}
.temp-other-nr dl dt{float: left;}
.temp-other-nr dl dd{float:right;width:416px;}
.temp-other-nr dl dd.tit{height:46px;padding-top:44px;font-size:24px;font-family: '微软雅黑';color:#333;}
.temp-other-nr dl dd.text{font-size:14px;color:#777;font-family: '宋体';line-height:26px;}
.temp-other-nr .trigger{height:38px;background:#434343;width:100%;position: relative;line-height:38px;}
.temp-other-nr .trigger p{color:#fff;text-align: center;}
.temp-other-nr a.btn{display: block;width:25px;height:14px;cursor: pointer;position: absolute;z-index:99;bottom:10px;}
.temp-other-nr a.prev{background: url(../images/h_14.jpg) no-repeat;left:15px;}
.temp-other-nr a.next{background: url(../images/h_17.jpg) no-repeat;right:15px;}

.temp-city{padding-top:24px;width:920px;margin-left:40px;overflow: hidden;line-height:20px;}
.temp-city dl{font-family: '宋体';width:100%;height:50px;line-height:50px;border-bottom:1px solid #e4e4e4;font-size:14px;color:#777;}
.temp-city dl dt{width:96px;text-indent:22px;float: left;}
.temp-city dl dd{float: left;}
.temp-city dl a{margin-right:50px;}
.temp-city dl a.on{color:#ff712f;}
.city-pro{width:920px;padding-left:40px;line-height:30px;color:#777;font-size:14px;font-family: '宋体';margin-bottom:60px;}
.city-pro p{text-indent:28px;background:#fff;}


