<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>港漂保险</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <link rel="stylesheet" href="/piao/Public/css/style-mobile-list.css?t=999" media="only screen and (max-width:1920px)">
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        //xb: Declare URLs for use in piao.js
        var indexURL = "{:U('Index/index')}";
        var nextstepURL = "{:U('Index/nextstep')}";
        var countpriceURL = "{:U('Index/countPrice')}";
        var weixinpayURL = "{:U('Index/weixinpay')}";
    </script>
    <script src="/piao/Public/scripts/piao.js"></script>
</head>
<body class="mama">
<header class="light-blue"><h1>妈妈保险</h1><a href="tel:+852-37582450" class="tel">一键客服·获取优惠</a></header>
<div id="head_height" style="height: 0px; width:100%;"> </div>
<foreach name="node" item="node_v" key="node_k" >
<div class="itemBar {$node_v.color}bg" color-option="{$node_v.color}" data-option="{$node_v.code}">
    <span class="node_name">{$node_v.name}</span>
    <span class="thisprice {$node_v.code}thisprice"></span>
</div>
<div class="onecontent content {$node_v.color}">
    <ul>
        <h3>计划特点:</h3>
        <foreach name="points[$node_k]" item="point_v" key="point_k" >
        <li><span>{$point_v}</span></li>
        </foreach>
    </ul>
    <div class="info" data-option="{$node_v.code}">
        {$node_v.input}
    </div>
    <foreach name="node_v['nodes']" item="vo" key="k" >
        <h2 class="unitbg">{$vo}</h2>
        <foreach name="biglist[$node_v['code']]" item="vvo" key="kk" >
            <if condition="$vvo.node_id == $k ">
                <div class="listBar {$node_v.code}_{$vvo.code_2}">{$vvo.content_lft}<span>{$vvo.content_rgt}</span></div>
            </if>
        </foreach>
    </foreach>
    <div class="btnlist">
        <button class="btn cancel"  data-option="{$node_v.color}" code-option="{$node_v.code}" >取消</button>
        <button class="btn confirm" data-option="{$node_v.color}" code-option="{$node_v.code}"  >确定</button>
    </div>
</div>
</foreach>
<script language="JavaScript">
jQuery(function ($) {
    $("#head_height").height($("header").outerHeight()+2);
    $('.itemBar').click(function(){
        var index = $('.itemBar').index(this);
        contentclick(index);
        return true;
    });
    $(".confirm").click(function(){
        // 计算钱,
        var code = $(this).attr("code-option");
        var color = $(this).attr("data-option");
        var index = $('.onecontent').index($(this).parents(".onecontent"));
        getprice(code);
       // $("." + color + "_price").attr("value",1150);
        var isselect = $(this).parents(".onecontent").find(".on");
        var info = "";
        if(isselect.size() > 0){
            for(i=0;i<isselect.size();i++){
                info += isselect.eq(i).attr("info") + ",";
            }
        }
        var thisinput = $(this).parents(".onecontent").find("input[type=tel]");
        if(thisinput.size()> 0){
            for(i=0;i<thisinput.size();i++){
                if(thisinput.eq(i).val() != ""){
                    info += thisinput.eq(i).attr("info") +' ' + thisinput.eq(i).val() + ",";
                }
            }
        }
        $("." + code + "_info").attr("value",info); // 选项说明相加
        contentclick(index); // 改变导航颜色
        totalamount(); // 计算总金额
        $('html, body').animate({ scrollTop:0 }, 'slow');
    });
    $(".cancel").click(function(){
        // 计算钱,
        var color = $(this).attr("data-option");
        var index = $('.onecontent ').index($(this).parents(".onecontent "));
        $("." + color + "_select").attr("value",0);
        $("." + color + "_price").attr("value",0);
        $("." + color + "_info").attr("value","");
        contentclick(index);
        totalamount();
        var itembar = $('.itemBar').eq(index);
        itembar.removeClass( color + "-title");
        itembar.removeClass("itemBar-on");
        $('html, body').animate({ scrollTop:0 }, 'slow');
    });
    function contentclick(index){
        var $_this = $('.itemBar').eq(index);
        var thiscolor = $_this.attr("color-option");
        //var index = $('.itemBar').index(this);
        var itembar = $_this;
        $(".onecontent").not($("."+ thiscolor)).slideUp();
        itembar.addClass( thiscolor + "-title");
        itembar.addClass("itemBar-on");
        itembar.find(".thisprice").addClass("thisprice-on");
        if($("."+thiscolor+"_price").val() == '0' || typeof($("."+thiscolor+"_price").attr("value")) == 'undefined'){
            itembar.removeClass( thiscolor + "-title");
            itembar.removeClass("itemBar-on");
            itembar.find(".thisprice").removeClass("thisprice-on");
            itembar.find(".thisprice").html("   ");
        }else{
            totalprice =  'HK$ ' + $("."+thiscolor+"_price").attr("value");
            itembar.find(".thisprice").html(totalprice);
        }
        $("."+ thiscolor).slideToggle("slow",function(){        // 判断是否改变按钮
        });
    }
});
</script>
<div class="itemBar chinalittle">
    <div class="count-bar gray">
        <div id="total" class="alltotal" type="text" readonly />HK$ 0.00</div>
    <h3>预估保费</h3>
</div>
    中精精算师精心挑选
</div>
<div class="itemBar spaninput inputname">
    <span>姓名：</span><input type="text" id="name" value="" />
</div>
<div class="itemBar spaninput inputtel">
    <span>联系电话：</span> <input type="text" id="tel" value="" />
</div>
<div class="itemBar spaninput inputemail">
    <span>Email：</span> <input type="text" id="email" value="" />
</div>
<div class="itemBar spaninput inputwechat">
    <span>微信：</span> <input type="text" id="wechat" value="" />
</div>
<div class="itemBar spaninput inputaddress" style="font-size:0.7em;">
    <span>办公室地址：</span> 香港金钟道89号力宝中心<br />
    <span>联系电话：</span>+852-37582450
</div>
<div class="foot" style="margin-top: -1em;">
    <img src="/piao/Public/images/foot_01.png" style="width:100%;"/>
    <img src="/piao/Public/images/foot_buy1.png" style="width:50%;"  onclick="suball(0)" />
    <img src="/piao/Public/images/foot_buy2.png" style="width:50%;"  onclick="suball(1)" />
    <img src="/piao/Public/images/foot_03.png" style="width:100%;"/>
    <img src="/piao/Public/images/foot_04.png" style="width:100%;"/>
    <img src="/piao/Public/images/foot_05.png" style="width:100%;"/>
</div>
<include file="input/common" />
</body>
</html>
