<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p>

</p>
亲爱的客户: <br/>
您好。<br/>
您的订单已收到，<br/>
我们正在尽全力处理您的保单，理财顾问将于两日内联系您。<br/>
如有咨询，可以在我们的微信公众号留言，或发送邮件至：info@chinaelite.hk，还可以拨打我们的理财专线：852-32582450。我们将竭诚为您服务。<br/><br/>
以下为您的订单信息：
<ul>
<foreach name="content" item="vo">
    <li>{$vo}</li>
    </foreach>
</ul>
<h3>中精收款账号：</h3>
账户名称：CHINA ELITE RISK MANAGEMENT AND ACTUARIAL CONSULTING COMPANY LTD<br/>
户口号码：364-366732-883<br/>
银行：Hang Seng Bank (YUN PING ROAD BRANCH)<br/>

顺颂商祺，即请财安<br/>
中精风险管理与精算咨询有限公司<br/>
<br/><br/>
Dear client,<br/>
Your order has been sent successfully.<br/>
Our financial consultant will contact you within two days.<br/>
For any inquiries, please leave messages in our Wechat public account, email to info@chinaelite.hk , or call us at 852-32582450. We will be happy to serve you.<br/>
Best Regards,<br/>
China Elite Risk Management and Actuarial Consulting Company Limited<br/>
<br/><br/>

<h1>关于中精</h1>
中精咨询是一家位于香港的全球化投资、精算和风险管理咨询公司。团队聚集了各专业的资深从业人员，具备保险、投资、统计、风险管理和大数据等多方面的经验，专注于提供有关互联网金融、资产配置、资本优化管理和风险管理领域，能为客户量身制定战略性咨询服务。中精咨询在互联网保险业务上的专业眼光和深远视角已经赢得广大客户的信赖。公司致力于建立互联网保险销售平台，设计适合互联网销售的产品、利用大数据经验提高为顾客服务的成功率，并为合作伙伴提供类似服务。我们的企业目标是：让风险变成机遇。 <br/>
中精咨询致力于维护和客户的长期合作关系，为客户提供高质量、有成效的服务。我们的咨询团队拥有丰富的实战经验，在业界有较高的知名度。我们站在全球保险行业的发展前沿，曾多次在在海外杂志上发表文章并在风险管理研讨会上演讲。我们所提供的服务不是简单的为了符合监管要求，而是根据行业和公司的实际情况，提供可行的优化方案，帮助管理层把握市场趋势，提高资本回报率。<br/><br/>
China Elite Risk Management and Actuarial Consulting Company Limited (CERMAC) is a Hong Kong based actuarial consulting firm since March 2014. While the actuarial consulting industry in Hong Kong is currently dominated by the international consulting firms PWC, Deloitte, EY and KPMG, CERMAC is aim to become the first major Hong Kong based actuarial consulting firm serving Great China and South East Asia market, starting with niche market focus on: improving insurance company’s investment and capital efficiency, and providing innovative digital insurance solutions to both insurance companies and e-commence companies.<br/>

</body>
</html>