#wrapp{ padding:10px}
.nTab{width:70%;overflow:hidden}
.none {display:none;}
.nTab .TabTitle li{float:left;cursor:pointer;height:40px;line-height:40px;text-align:center;width:120px; border-left:2px solid #f0f0f0}
.nTab .TabTitle li a{text-decoration:none;}
.nTab .TabTitle .active{background:#86BA43;color:#fff;font-weight:bold;}
.nTab .TabTitle .normal{background: #D7D7D7;color:#555}
.nTab .TabContent{clear:both;overflow:hidden;background:#fff;padding:10px;display:block}

.step1 li{ width:35%; line-height:30px; height:50px; float:left;/* color:#86BA43; */}
.step1 li label, .jianjie label{ color:#555;float:left; width:70px; padding:0 5px 0 0; text-align:right; font-weight:normal}
.step1 li label{   line-height:30px;}
.step1 span{color:#555; float:left; margin:0 7px; line-height:30px}
.step1 li input[type="radio"]{ margin:8px 10px 0 10px; float:right}
.jianjie{ padding:0 0 10px 0}
.jianjie textarea{ width:500px !important; height:100px;}
.btn-wrapp{ padding:5px 0 5px 30%;}

/*相册*/
table{border-collapse:collapse;}
.photobook{ width:100%;}
.photobook td{ text-align:center; border:1px solid #86BA43;}
.photobook td img{ border:1px solid #c2c2c2; display:block; margin:5px auto}

.photobook-child { width:100%;}
.photobook-child td{ border:none; padding:10px 0 0 20px; border-bottom:1px solid #86BA43; }
.photobook-child td label{ float:left; line-height:24px;}
.photobook-child td input[type="text"]{ width:300px;}
.photobook-child td input[type="file"]{  float:left}
.photobook-child  input[type="button"]{ margin:0 30px 5px 0; float:right}
.photobook-child td .delete1{ margin:0 40px 5px 0 }

/*库存*/
.kucun{ width:60% !important; margin:0 auto}
.kucun .firstTr td{  font-size:14px; font-weight:700; text-align:left; padding:5px 0 5px 20px;}
.kucun td input[type="text"]{ width:70px;}
.kucun  input[type="button"]{ margin:0 50% 5px 0; float:right}
.kucun td{ border:1px solid #86BA43; text-align:center}
.kucun td label{font-weight:normal; line-height:30px;}